.marginLeft {
  margin-left: 10px;
}
.marginLeft--double {
  margin-left: 20px;
}
.marginRight {
  margin-right: 10px;
}
.marginRight--double {
  margin-right: 20px;
}
.marginBottom {
  margin-bottom: 10px;
}
.marginBottom--double {
  margin-bottom: 20px;
}
.marginTop {
  margin-top: 10px;
}
.marginTop--double {
  margin-top: 20px;
}
.paddingLeft {
  padding-left: 10px;
}
.paddingLeft--double {
  padding-left: 20px;
}
.paddingRight {
  padding-right: 10px;
}
.paddingRight--double {
  padding-right: 20px;
}
.paddingBottom {
  padding-bottom: 10px;
}
.paddingBottom--double {
  padding-bottom: 20px;
}
.paddingTop {
  padding-top: 10px;
}
.paddingTop--double {
  padding-top: 20px;
}
.paddingAll {
    .paddingTop;
    .paddingBottom;
    .paddingLeft;
    .paddingRight;
}
.textCenter {
    text-align: center;
}

body {
    font-family: 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: #E4E4E4;
}

a {
    color: #03A9F4;
    text-decoration: none;
}

a:hover {
    color: #016694;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.68);
}

button {
    outline: none !important;
    outline-color: transparent !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.47) !important;
    border: 2px solid transparent;
}

.btn-default {
    &.active, &:focus {
        border-width: 2px;
    }
    &:hover, &:focus {
        background-color: #e0e0e0 !important;
    }
}

header {
    background-color: #03A9F4;
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper > h1 {
    font-weight: 300;
    font-size: 42px;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Finger Paint', cursive;
}

.container {
    padding: 25px;
}

.mainContent {
    padding: 25px;
    background: #98D6F7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
    color: #8A8A8A;
}

#sizeIndicator:before{
    color: white;
    content: "LARGE";
    position: fixed;
    font-size: 30px;
    top: 0;
    left: 0;
    display: block;
}

#currentDeployment {
    table {
        tr {
            &.black {
                background: black;
                color: white;
            }
            &.red {
                background: red;
                color: black;
            }
            td {
                padding-left: 10px;
                padding-right: 10px;
                border: 1px solid gainsboro;
            }
        }
        thead {
            font-weight: 800;
            tr {
                td {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

#currentTerritoryInfo {
    min-height: 25px;
}