* {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: @gameBoardBackground;
}

a {
    color: #03A9F4;
    text-decoration: none;
    &:focus {
        underline: none !important;
    }
}

a:hover {
    color: #016694;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.68);
}

.rz-pointer.rz-pointer-min {
    &:focus {
        outline: none;
    }
}

button {
    outline: none !important;
    outline-color: transparent !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.47) !important;
    border: 2px solid transparent;
}

header {
    background-color: #4e4e4e;
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35),0 1px 30px rgba(0, 0, 0, 0.33);
    position: relative;
    .createdBy {
        font-size: 12px;
        color: black;
        a {
            color: white;
        }
    }

    .wrapper {
        position: relative;
        z-index: 2;
    }

    .smoke {
        width: 100%;
        height: 100%;
        background: url(/assets/img/smoke.png) no-repeat;
        -webkit-animation: 60s fog infinite;
        background-size: 4000px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

#turnInfo {
    svg {
        width: 40px;
        height: 40px;
    }
}

.pulsate {
    -webkit-animation: pulsate 3s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        text-shadow: none
    }
    50% {
        text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.5), -1px -1px 0 rgba(255, 0, 0, 0.5), 1px -1px 0 rgba(255, 0, 0, 0.5), -1px 1px 0 rgba(255, 0, 0, 0.5), 1px 1px 0 rgba(255, 0, 0, 0.5);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes fog {
        0% {background-position:left;}
        30% {opacity:.5;}
        80% {opacity: .8;}
        100%{background-position:right; opacity:1;}
    }

@-moz-keyframes fog {
   0% {background-position:left;}
    30% {opacity:.5;}
    80% {opacity: .8;}
    100%{background-position:right; opacity:1;}
}

@-webkit-keyframes fog {
    0% {background-position:left;}
    30% {opacity:.5;}
    80% {opacity: .8;}
    100%{background-position:right; opacity:1;}
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.wrapper > h1 {
    font-weight: 300;
    font-size: 52px;
    margin: 0;
    color: #FFFFFF;
    font-family: 'ScorchedEarth';
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.72);
}

.mainWrapper {
    width: 100%;
    max-width: 100%;
    background: @gameBoardBackground;
}

.container {
    padding: 25px;
}

.mainContent {
    padding: 25px;
    background: @gameBoardBackground;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
    color: #8A8A8A;
    margin-bottom: 20px;
}

span.rz-bubble.rz-limit.rz-floor {
    display: none;
}

#sizeIndicator:before{
    color: white;
    content: "LARGE";
    position: fixed;
    font-size: 30px;
    top: 0;
    left: 0;
    display: none;
}

#currentTerritoryInfo {
    min-height: 25px;
}