/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/

// Major breakpoints
@small  : 750px;
@medium : 970px;
@large  : 1170px;

// To use as max-width values
@lt-small  : (@small  - 1px); /* Lower than Small */
@lt-medium : (@medium - 1px); /* Lower than Medium */
@lt-large  : (@large  - 1px); /* Lower than Large */

/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/

@import "helpers/for";

@import "animations/animations";
@import "animations/notificationNumber";
@import "animations/characterAnimations";
@import "variables/colors";
@import "variables/variables";
@import "default/default";
@import "cursors/cursors";
@import "svg/svg";
@import "dice/dice";
@import "troops/troopIcons";
@import "buttons/buttons";
@import "banner/banner";
@import "setup/setup";
@import "modal/modal";
@import "cards/cards";
@import "victory/victory";
@import "startScreen/startScreen";
@import "settings/settings";
@import "switch/switch";
@import "endScreenTable/endScreenTable";
@import "editor/editor";
@import "logo/logo";
@import "toast/toast";
@import "authenticationBox/authenticationBox";
@import "lobbies/lobbies";
@import "lobby/lobby";
@import "chat/chat";
@import "singleplayer/singleplayer";
@import "multiplayer/multiplayer";
