/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/

// Major breakpoints
@small  : 750px;
@medium : 970px;
@large  : 1170px;

// To use as max-width values
@lt-small  : (@small  - 1px); /* Lower than Small */
@lt-medium : (@medium - 1px); /* Lower than Medium */
@lt-large  : (@large  - 1px); /* Lower than Large */

/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/

@import "fonts/fonts";
@import "variables/colors";
@import "variables/variables";
@import "default/default";
@import "cursors/cursors";
@import "svg/svg";
@import "dice/dice";
@import "troops/troopIcons";
@import "buttons/buttons";
@import "banner/banner";

@media only screen and (min-width: 0em) and (max-width: @lt-small) { // SMALL
    @import "default/default-small";
}
@media only screen and (min-width: @small) and (max-width: @lt-large) { // MEDIUM
    @import "default/default-medium";
}
@media only screen and (min-width: @large) { // LARGE
    @import "default/default-large";
}