/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/

// Major breakpoints
@small  : 480px;    /* 480px / 16 */
@medium : 760px;    /* 768px / 16 */
@large  : 1280px;    /* 1024px / 16 */

// To use as max-width values
@lt-small  : (@small  - 1px); /* Lower than Small */
@lt-medium : (@medium - 1px); /* Lower than Medium */
@lt-large  : (@large  - 1px); /* Lower than Large */

/**********************************************************/
/**************************DESIGN**************************/
/**********************************************************/

@import "default/default";

@media only screen and (min-width: 0em) and (max-width: @lt-medium) { // SMALL
    @import "default/default-small";
}
@media only screen and (min-width: @medium) and (max-width: @lt-large) { // MEDIUM
    @import "default/default-medium";
}
@media only screen and (min-width: @large) { // LARGE
    @import "default/default-large";
}