<div>
    <div id="characterSelectionModal" class="riskModal" role="dialog" data-backdrop="static">
        <!-- Modal content-->
        <div class="modal-body textCenter">
            <div class="row" style="width: 800px; margin: 0 auto;">
                <h2>
                    Character Selection
                </h2>
            </div>
            <div class="row" style="width: 800px; height: 300px; margin: 0 auto; padding: 10px;">
                <div style="float: left; width: 60%;">
                    <h3 data-ng-bind="characterSelection.currentSelectedPlayer.name"></h3>
                    <p class="characterBio" data-ng-bind="characterSelection.currentSelectedPlayer.avatar.biography" data-ng-show="characterSelection.currentSelectedPlayer"></p>
                </div>
                <div style="float: left; width: 40%;">
                    <div class="marginBottom" data-ng-show="characterSelection.currentSelectedPlayer">
                        <waving-flag flag-width="90" flag-height="50" flag-url="characterSelection.currentSelectedPlayer.avatar.flag"></waving-flag>
                    </div>
                    <img data-ng-show="characterSelection.currentSelectedPlayer && !characterSelection.currentSelectedPlayer.avatar.svg" id="selectedCharacterPortrait" src="{{ characterSelection.currentSelectedPlayer.avatar.picture }}" style="width: 200px; height: 200px;" />

                    <object data="{{ characterSelection.currentSelectedPlayer.avatar.svg }}" type="image/svg+xml" data-ng-show="characterSelection.currentSelectedPlayer && characterSelection.currentSelectedPlayer.avatar.svg" style="width: 300px;">
                    </object>
                </div>
            </div>
            <div class="row textCenter" style="width: 800px; margin: 0 auto;">
                <button type="button" class="button button-green" data-ng-click="characterSelection.ok()" data-ng-disabled="!characterSelection.currentSelectedPlayer">
                    Select
                </button>
            </div>
            <div class="row selectableAvatars">
                <div data-ng-repeat="avatar in characterSelection.avatars" class="selectableAvatars__item">
                    <img src="{{ avatar.picture }}"
                         data-ng-click="characterSelection.selectAvatar(avatar)"
                         data-ng-dblclick="characterSelection.selectAvatarAndClose(avatar)"
                         data-ng-class="{'selectableAvatars__item--selected': avatar === characterSelection.currentSelectedPlayer.avatar,
                                         'selectableAvatars__item--taken': characterSelection.takenAvatars.includes(avatar) && avatar !== characterSelection.oldAvatar}" />
                </div>
            </div>
        </div>
    </div>
</div>