<div>
    <div id="pauseMenuModal" class="riskModal" role="dialog" data-backdrop="static">
        <div class="textCenter mainMenuBox">
            <div id="settingsBox" style="width: 100%;
                                         padding-top: 30px;
                                         padding-bottom: 40px;
                                         background: rgba(59, 59, 59, 0.788235294117647);">
                <div data-ng-show="pauseMenu.currentState === pauseMenu.states.MAIN_MENU">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue mainMenuButton" data-ng-click="pauseMenu.continue()">
                                <strong>Continue</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue mainMenuButton" data-ng-click="pauseMenu.settings()">
                                <strong>Settings</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue mainMenuButton" data-ng-click="pauseMenu.exitToMenu()">
                                <strong>Exit to main menu</strong>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="textCenter mainMenuBox" data-ng-controller="settingsController as settings" data-ng-show="pauseMenu.currentState === pauseMenu.states.SETTINGS">
                    <div class="row paddingLeft--double paddingRight--double">
                        <strong style="color: white;">
                            The settings that you configure here will be automatically saved to your browsers local storage so that you don't have to reset them everytime.
                        </strong>
                    </div>

                    <div class="row" style="margin-top: 40px;">
                        <div class="col-xs-4">
                            <div>
                                AI Speed
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <rzslider rz-slider-model="settings.aiSpeed" rz-slider-options="settings.movementSliderOptions"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Play sound
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleSound()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.playSound">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Show announcer <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                 data-placement="bottom" title="If turned on each turn will be presented by a announcer." style="color: #f0f048;"></span>
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleAnnouncer()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.showAnnouncer">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="settings.runningElectron">
                        <div class="col-xs-4">
                            <div>
                                Full Screen
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleFullScreen()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.fullScreen">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue" data-ng-click="pauseMenu.backToMenu()" id="moveButton">
                                <i class="fa fa-times"></i>
                                <strong>Back</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>