svg {
    * {
        cursor: default
    }
    text {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        text-shadow: 1px 1px 3px #a2a2a2;
    }
    .country {
        &:hover {
            stroke: rgba(0, 0, 0, 0.3);
            stroke-width: 4;
        }
        &[country-color='RED'] {
            fill: #dd4444;
            stroke: #b22525;
            &.highlighted, &.highlighted:hover {
                fill: #5f1010;
            }
            &:hover {
                fill: #fe8c8c;
            }
        }
        &[country-color='GREEN'] {
            fill: #4acd61;
            stroke: #35a749;
            &.highlighted, &.highlighted:hover {
                fill: #377d2b;
            }
            &:hover {
                fill: #caf6c2;
            }
        }
        &[country-color='BLUE'] {
            fill: #4770ea;
            stroke: #234abe;
            &.highlighted, &.highlighted:hover {
                fill: #151594;
            }
            &:hover {
                fill: #7272fa;
            }
        }
        &[country-color='PINK'] {
            fill: #ff99cc;
            stroke: #ff6699;
            &.highlighted, &.highlighted:hover {
                fill: #cc4f8d;
            }
            &:hover {
                fill: #ffc9e4;
            }
        }
        &[country-color='BLACK'] {
            fill: #564848;
            stroke: #362d2d;
            &.highlighted, &.highlighted:hover {
                fill: #000000;
            }
            &:hover {
                fill: #525252;
            }
        }
        &[country-color='YELLOW'] {
            fill: #eaea67;
            stroke: #bbbb42;
            &.highlighted, &.highlighted:hover {
                fill: #e0e019;
            }
            &:hover {
                fill: #ffffae;
            }
        }
        &[country-color='AFRICA'] {
            fill: #564848;
            stroke: #362d2d;
        }
        &[country-color='SOUTH AMERICA'] {
            fill: #dd4444;
            stroke: #b22525;
        }
        &[country-color='EUROPE'] {
            fill: #4acd61;
            stroke: #35a749;
        }
        &[country-color='NORTH AMERICA'] {
            fill: #4770ea;
            stroke: #234abe;
        }
        &[country-color='ASIA'] {
            fill: #eaea67;
            stroke: #bbbb42;
        }
        &[country-color='AUSTRALIA'] {
            fill: #a55eec;
            stroke: #8442c6;
        }
    }
    .troopCounter {
        &[country-color='RED'],
        &[country-color='SOUTH AMERICA'] {
            stroke: #b22525;
        }
        &[country-color='GREEN'],
        &[country-color='EUROPE'] {
            stroke: #35a749;
        }
        &[country-color='BLUE'],
        &[country-color='NORTH AMERICA'] {
            stroke: #234abe;
        }
        &[country-color='PINK'] {
            stroke: #ff6699;
        }
        &[country-color='BLACK'],
        &[country-color='AFRICA'] {
            stroke: #362d2d;
        }
        &[country-color='YELLOW'],
        &[country-color='ASIA'] {
            stroke: #bbbb42;
        }
        &[country-color='AUSTRALIA'] {
            stroke: #8442c6;
        }
    }
    .troopCounterText {
        margin-top: 2px;
        stroke: black;
    }
}

#territorySvg {
    max-height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    .country {
        &:hover {
            stroke-width: 1;
        }
        &[country-color='RED'],
        &[country-color='SOUTH AMERICA'] {
            fill: #dd4444;
            stroke: #b22525;
        }
        &[country-color='GREEN'],
        &[country-color='EUROPE'] {
            fill: #4acd61;
            stroke: #35a749;
        }
        &[country-color='BLUE'],
        &[country-color='NORTH AMERICA'] {
            fill: #4770ea;
            stroke: #234abe;
        }
        &[country-color='PINK'] {
            fill: #ff99cc;
            stroke: #ff6699;
        }
        &[country-color='BLACK'],
        &[country-color='AFRICA'] {
            fill: #564848;
            stroke: #362d2d;
        }
        &[country-color='YELLOW'],
        &[country-color='ASIA'] {
            fill: #eaea67;
            stroke: #bbbb42;
        }
        &[country-color='AUSTRALIA'] {
            fill: #a55eec;
            stroke: #8442c6;
        }
    }
}