svg {
    * {
        cursor: url(../assets/cursors/new/default.png), auto;
    }
    text {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        // text-shadow: 1px 1px 3px #a2a2a2;
        pointer-events: none;
    }
    #mapArrow {
        pointer-events: none;
        stroke-width: 2px;

        &.attackArrow {
            fill: #e83e49;
            stroke: black;
        }
        &.movementArrow {
            fill: #058cca;
            stroke: black;
        }
    }
    .country {
        &.tooltipHighlight {
            stroke-width: 4;
            stroke: white !important;
            fill: darken(white, 10%) !important;
        }
        &:hover {
            stroke: rgba(0, 0, 0, 0.3);
            stroke-width: 4;
        }
        &[country-color='RED'] {
            fill: @redColor;
            stroke: @redColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #5f1010;
            }
            &:hover {
                fill: #fe8c8c;
            }
        }
        &[country-color='GREEN'] {
            fill: @greenColor;
            stroke: @greenColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #377d2b;
            }
            &:hover {
                fill: #caf6c2;
            }
        }
        &[country-color='BLUE'] {
            fill: @blueColor;
            stroke: @blueColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #151594;
            }
            &:hover {
                fill: #7272fa;
            }
        }
        &[country-color='PINK'] {
            fill: @pinkColor;
            stroke: @pinkColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #cc4f8d;
            }
            &:hover {
                fill: #ffc9e4;
            }
        }
        &[country-color='BLACK'] {
            fill: @blackColor;
            stroke: @blackColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #000000;
            }
            &:hover {
                fill: #525252;
            }
        }
        &[country-color='YELLOW'] {
            fill: @yellowColor;
            stroke: @yellowColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #e0e019;
            }
            &:hover {
                fill: #ffffae;
            }
        }
        &[country-color='PURPLE'] {
            fill: @purpleColor;
            stroke: @purpleColorStroke;
            &.highlighted, &.highlighted:hover, &.tooltipHighlight {
                fill: #5e4479;
            }
            &:hover {
                fill: #b68ae1;
            }
        }
        // CLASSIC MAP REGION COLORS
        &[country-color='AFRICA'] {
            fill: @blackColor;
            stroke: @blackColorStroke;
        }
        &[country-color='SOUTH AMERICA'] {
            fill: @redColor;
            stroke: @redColorStroke;
        }
        &[country-color='EUROPE'] {
            fill: @greenColor;
            stroke: @greenColorStroke;
        }
        &[country-color='NORTH AMERICA'] {
            fill: @blueColor;
            stroke: @blueColorStroke;
        }
        &[country-color='ASIA'] {
            fill: @yellowColor;
            stroke: @yellowColorStroke;
        }
        &[country-color='AUSTRALIA'] {
            fill: @purpleColor;
            stroke: @purpleColorStroke;
        }
        // NAPOLEONIC MAP REGION COLORS
        &[country-color='UNITED KINGDOM'] {
            fill: #b40606;
            stroke: #680808;
        }
        &[country-color='IBERIAN PENINSULA'] {
            fill: #c6c12f;
            stroke: #918d06;
        }
        &[country-color='FRENCH EMPIRE'] {
            fill: #5dbde6;
            stroke: #287798;
        }
        &[country-color='ITALIAN PROTECTORATES'] {
            fill: #29aa4e;
            stroke: #067726;
        }
        &[country-color='RUSSIAN EMPIRE'] {
            fill: #db82f3;
            stroke: #9736b1;
        }
        &[country-color='KINGDOMS OF SCANDINAVIA'] {
            fill: #ff6e34;
            stroke: #912900;
        }
        &[country-color='OTTOMAN EMPIRE'] {
            fill: #906f68;
            stroke: #5c3b33;
        }
        &[country-color='AUSTRIAN EMPIRE'] {
            fill: #bababa;
            stroke: #464646;
        }
        &[country-color='KINGDOM OF PRUSSIA'] {
            fill: #dac827;
            stroke: #6f6402;
        }
        &[country-color='RHINE AND HELVETIC CONFEDERATIONS'] {
            fill: #483ca5;
            stroke: #1d1461;
        }
    }
    .troopCounter {
        pointer-events: none;

        &[country-color='RED'],
        &[country-color='SOUTH AMERICA'] {
            stroke: @redColorStroke;
        }
        &[country-color='GREEN'],
        &[country-color='EUROPE'] {
            stroke: @greenColorStroke;
        }
        &[country-color='BLUE'],
        &[country-color='NORTH AMERICA'] {
            stroke: @blueColorStroke;
        }
        &[country-color='PINK'] {
            stroke: @pinkColorStroke;
        }
        &[country-color='BLACK'],
        &[country-color='AFRICA'] {
            stroke: @blackColorStroke;
        }
        &[country-color='YELLOW'],
        &[country-color='ASIA'] {
            stroke: @yellowColorStroke;
        }
        &[country-color='PURPLE'],
        &[country-color='AUSTRALIA'] {
            stroke: @purpleColorStroke;
        }
    }
    .troopCounterText {
        pointer-events: none;

        margin-top: 2px;
        stroke: black;
    }
}

#territorySvg {
    max-height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    .country {
        &:hover {
            stroke-width: 1;
        }
        &[country-color='PURPLE'] {
            fill: @purpleColor;
            stroke: @purpleColorStroke;
        }
        &[country-color='RED'],
        &[country-color='SOUTH AMERICA'] {
            fill: @redColor;
            stroke: @redColorStroke;
        }
        &[country-color='GREEN'],
        &[country-color='EUROPE'] {
            fill: @greenColor;
            stroke: @greenColorStroke;
        }
        &[country-color='BLUE'],
        &[country-color='NORTH AMERICA'] {
            fill: @blueColor;
            stroke: @blueColorStroke;
        }
        &[country-color='PINK'] {
            fill: @pinkColor;
            stroke: @pinkColorStroke;
        }
        &[country-color='BLACK'],
        &[country-color='AFRICA'] {
            fill: @blackColor;
            stroke: @blackColorStroke;
        }
        &[country-color='YELLOW'],
        &[country-color='ASIA'] {
            fill: @yellowColor;
            stroke: @yellowColorStroke;
        }
        &[country-color='AUSTRALIA'] {
            fill: @purpleColor;
            stroke: @purpleColorStroke;
        }
    }
}