#authenticationBox {
	position: fixed;
	background: rgba(59, 59, 59, 0.788235294117647);
	padding: 20px;
	border-bottom-right-radius: 15px;
	color: white;
    box-shadow: 0 0 10px black;
    width: 500px;
    min-width: 500px;
    height: 125px;
    min-height: 125px;
    z-index: 200;

    #authenticationBoxDefaultAvatar {
    	#authenticationBoxDefaultAvatarInner {
    		height: 85px;
    		width: 85px;
    		overflow: hidden;
    		border: 3px solid white;
    		border-radius: 50%;
    		background: #949494;
    		box-shadow: 0 0 15px #848383;
    		cursor: url(../assets/cursors/new/pointer.png), auto;
            transition: all 0.5s;

    		* {
    			cursor: url(../assets/cursors/new/pointer.png), auto;
    		}

    		&:hover {
    			border: 3px solid #be1616;
    			background: #c0c0c0;
    		}

    		.glyphicon-user {
    			font-size: 75px;
    			margin-left: 4px;
    			margin-top: 9px;
    		}

    		#authenticationBoxDefaultAvatarLoading {
    			width: 100%;
    			height: 100%;

    			> div {
    				height: 100%;
    				display: table;
    				width: 100%;
    				text-align: center;
    				margin-top: 3px;
    				margin-left: 1px;

    				> div {
    					vertical-align: middle;
    					display: table-cell;
    				}
    			}
    		}
    	}
    }

    > div {
    	display: table;
    }

	input {
		color: black;
	    padding: 5px;
	    outline: none;
	    border: none;
	    padding-left: 20px;
	    border-radius: 5px;
	    height: 34px;
	    padding-top: 6px;
	}

	p {
		display: table-cell;
		vertical-align: middle;
	}

	#editProfile {
		width: 100%;

		p.fakeLink {
			color: #afb9ff;
			float: left;
		}

		div {
			clear: both;
			input {
				width: 100%;
			}
		}
	}

	#loading {
		text-align: center;
		width: 100%;
	}
}