.attackCursor {
    cursor: url(../assets/cursors/new/attack2.png) 0 11, auto !important;
    * {
        cursor: url(../assets/cursors/new/attack2.png) 0 11, auto !important;
    }
}

.addTroopCursor {
    cursor: url(../assets/cursors/new/addTroop.png), auto !important;
    * {
        cursor: url(../assets/cursors/new/addTroop.png), auto !important;
    }
}

.movementCursor {
    cursor: url(../assets/cursors/new/transfer.png), auto !important;
    * {
        cursor: url(../assets/cursors/new/transfer.png), auto !important;
    }
}

.warningCursor {
    cursor: url(../assets/cursors/new/warning.png), auto !important;

    * {
    	cursor: url(../assets/cursors/new/warning.png), auto !important;
    }
}