// Colors to use for players

@redPlayer: #CC3030;
@greenPlayer: #53E239;
@bluePlayer: #1a1a9c;
@pinkPlayer: #ff6699;
@blackPlayer: #202020;
@yellowPlayer: #dbdb39;

// Colors to use in UI

@gameBoardBackground: #1a6e9a;