.marginLeft {
  margin-left: 10px;
}
.marginLeft--double {
  margin-left: 20px;
}
.marginRight {
  margin-right: 10px;
}
.marginRight--double {
  margin-right: 20px;
}
.marginBottom {
  margin-bottom: 10px;
}
.marginBottom--double {
  margin-bottom: 20px;
}
.marginTop {
  margin-top: 10px;
}
.marginTop--double {
  margin-top: 20px;
}
.paddingLeft {
  padding-left: 10px;
}
.paddingLeft--double {
  padding-left: 20px;
}
.paddingRight {
  padding-right: 10px;
}
.paddingRight--double {
  padding-right: 20px;
}
.paddingBottom {
  padding-bottom: 10px;
}
.paddingBottom--double {
  padding-bottom: 20px;
}
.paddingTop {
  padding-top: 10px;
}
.paddingTop--double {
  padding-top: 20px;
}
.paddingAll {
    .paddingTop;
    .paddingBottom;
    .paddingLeft;
    .paddingRight;
}
.textCenter {
    text-align: center;
}
.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}
.floatLeft {
  float: left;
}