#multiplayerContainer {
	#topBar {
		background: rgba(67, 64, 64, 0.6901960784313725);
        border-top-right-radius: 30px;
        border-top-left-radius: 60px;
        box-shadow: 3px 3px 8px #202020;
	}

	#mainTurnAvatar {
	    height: 110px;
	    width: 110px;
	    background-size: cover;
	    background-position: center center;
	}

	#playerName {
	    font-size: 30px;
	}

	#turnInfo {
	    svg {
	        width: 40px;
	        height: 40px;
	        margin-left: -8px;
	        margin-right: -8px;
	        filter: url(#droppy);
	    }
	}

	#cardButton {
	    cursor: pointer;
	    &.cardButton--disabled {
	        cursor: not-allowed;
	    }
	}

	#cardCounter {
	    margin-bottom: 0;
	    margin-top: 7px;
	}

	#timerBar {
		width: 100%;
		height: 21px;
		background: grey;
		z-index: 500;
	    position: absolute;
	    width: 1474px;

		p {
			position: absolute;
			margin-left: 5px;
		}

		#timerBarInner {
			height: 100%;
		    background-color: #49c049;
		    max-width: 100%;
			transition: width 0.1s linear;

		    background: -moz-linear-gradient(right, red 0%, rgba(247,247,247,0) 100%); /* FF3.6-15 */
		    background: -webkit-linear-gradient(right, #fdfdfd 20%, #49c049 80%);
		}
	}
	#multiplayerMap {
	    background: #5397d1;
	    box-shadow: 3px 3px 8px #202020;
	}
	#lobbyChatBoxes {
		width: 100%;
		margin-top: -47px;

		.muteChatContainer {
			width: 100%;
		    margin-top: 0px;

		    button {
		    	margin-right: 10px;
	    	    font-size: 15px;
		    }

		    .chatTab {
		    	padding: 14px;
		    	font-size: 14px;
		    }
		}

		.chatBox {
			width: 100%;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;

			.chatMessagesContainer {
				min-height: 200px;
				height: 200px;
				max-height: 200px;
				resize: none;

				.topShadowOverlay {
				    border-top-left-radius: 0px;
				}

				&::-webkit-scrollbar-track {
				    border-top-right-radius: 0px;
				}

				&::-webkit-scrollbar {
				    border-top-right-radius: 0px;
				}
			}
		}
	}
}

