#multiplayerContainer {
	padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
	top: 0;
	background: #5397d1;
	
	> div {
		background: rgb(62, 62, 62);
		height: ~"calc(100% - 242px)";
	}

	#topBar {
		height: 150px;
		min-height: 150px;
		max-height: 150px;
		width: 1500px;
		margin: 0 auto;

		#currentPlayerPortrait {
            position: absolute;
            z-index: 1000;
			top: -6px;
            left: -110px;
            transform: scale(0.5);
            transform-origin: top;
            transition: all 600ms;
            &:hover {
                transform: scale(0.8);
            }
        }
	}

	.gameView {
		background: #5397d1;
	    position: relative;
        height: ~"calc(100% - 150px)";
		box-shadow: inset 0px 0px 100px 11px rgba(28, 48, 150, 0.83);
		
		#showRegionBonuses {
            top: 15px;
            left: 15px;
            position: absolute;
            transition: opacity 600ms ease 1s;
            
            &:hover {
                #showRegionBonusesInner {
                    opacity: 1;
                }
            }
            #showRegionBonusesInner {
                pointer-events: none;
                opacity: 0;
                filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
                position: absolute;
                z-index: 300;
                top: 41px;
                left: 12px;
                filter: drop-shadow(0 0 10px black);

                #showRegionBonusesInnerInner {
                    padding: 10px;
                    background: #e8d5b1;
                    min-height: 200px;
                    color: #543b0a;
                    clip-path: polygon(0% 6%, 10% 6%, 18% 0%, 26% 6%, 100% 6%, 100% 100%, 94% 100%, 89% 98%, 87% 100%, 79% 98%, 78% 100%, 71% 95%, 68% 100%, 62% 97%, 61% 100%, 49% 100%, 37% 92%, 33% 100%, 20% 100%, 15% 96%, 14% 100%, 8% 100%, 4% 95%, 0% 100%);
                    padding-top: 10%;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-bottom: 14%;
                    width: 560px;
                    font-size: 16px;
                    box-shadow: inset 0 0 50px #0000006e;

                    .regionInfo {
                        padding-top: 10px;
                        padding-bottom: 6px;
                        font-size: 22px;
                        border-bottom: 1px dashed #b17d1e;
                        strong {
                            display: inline-block;
                            width: 90%;
                            -webkit-text-stroke: 1px black;
                        }
                        p {
                            display: inline-block;
                            text-align: right;
                            width: 10%;
                            margin: 0;
                            padding-right: 5px;
                        }
                    }
                }
            }
        }

		#multiplayerMap {
	        width: 1500px;
	        margin: 0 auto;
		}
	}

	#playerName {
	    font-size: 30px;
	}

	.phaseIndicator {
		position: absolute;
		z-index: 10;
	}

	#mainTurnAvatar {
	    height: 110px;
	    width: 110px;
	    background-size: cover;
	    background-position: center center;
	}

	#turnInfo {
	    svg {
	        width: 40px;
	        height: 40px;
	        margin-left: -8px;
	        margin-right: -8px;
	        filter: url(#droppy);
	    }
	}

	#cardButton {
	    cursor: url(../assets/cursors/new/pointer.png), auto;
	    &.cardButton--disabled {
	        cursor: url(../assets/cursors/new/notAllowed.png), auto;
	    }
	}

	#cardCounter {
	    margin-bottom: 0;
	    margin-top: 7px;
	}

	#timerBar {
		width: 100%;
		height: 21px;
		background: grey;
		z-index: 500;
	    position: absolute;
	    width: 100%;

		p {
			position: absolute;
			margin-left: 5px;
		}

		#timerBarInner {
			height: 100%;
		    background-color: #49c049;
		    max-width: 100%;
			transition: width 0.1s linear;

		    background: -moz-linear-gradient(right, red 0%, rgba(247,247,247,0) 100%); /* FF3.6-15 */
		    background: -webkit-linear-gradient(right, #fdfdfd 20%, #49c049 80%);
		}
	}
	#lobbyChatBoxes {
		width: 100%;
		position: absolute;
		bottom: 0;

		.muteChatContainer {
			width: 100%;
		    margin-top: 0px;

		    button {
		    	margin-right: 10px;
	    	    font-size: 15px;
		    }

		    .chatTab {
		    	padding: 14px;
		    	font-size: 14px;
		    }
		}

		.chatBox {
			width: 100%;
			border-radius: 0px;

			.chatMessagesContainer {
				min-height: 200px;
				height: 200px;
				max-height: 200px;
				resize: none;

				.topShadowOverlay {
				    border-top-left-radius: 0px;
				}

				&::-webkit-scrollbar-track {
					cursor: url(../assets/cursors/new/default.png), auto;
				    border-top-right-radius: 0px;
				}

				&::-webkit-scrollbar {
					cursor: url(../assets/cursors/new/default.png), auto;
				    border-top-right-radius: 0px;
				}
			}

			.senderBar {
				input, button {
					border-radius: 0px;
				}
			}
		}
	}
}

