#gameSetupBox {
    .colorSelectorBox,
    .avatarSelectorBox {
        border-radius: 3px;
        border: 3px solid black;
        transition: all 0.5s;
        &:hover {
            border: 3px solid white;
        }
    }
    .colorSelectorBox {
        float: right;
        height: 33px;
        width: 33px;
    }
    .avatarSelectorBox {
        float: left;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        &:focus {
            outline: none;
        }
    }
    .popoverBody {
        display: none;
    }
}

.popover[uib-title="Select an avatar"] {
    min-width: 600px;
}

.popover-content {
    .popoverBodyColorBox,
    .popoverBodyAvatarBox {
        width: 25px;
        height: 25px;
        float: left;
        margin-bottom: 11px;
        border: 1px solid transparent;
        transition: all 0.5s;
        background-size: 100% 100%;
        background-position: center center;
        &--chosen {
            border: 2px dotted white;
        }
    }
    .popoverBodyColorBox {
        width: 25px;
        height: 25px;
    }
    .popoverBodyAvatarBox {
        width: 50px;
        height: 50px;
        background-size: cover !important;
        &--chosen {
            border: 3px solid red !important;
        }
    }
}