#gameSetupBox {
    .colorSelectorBox {
        height: 33px;
        width: 33px;
        float:right;
        border-radius: 3px;
        border: 1px solid black;
    }
    .popoverBody {
        display: none;
    }
}

.popover-content {
    .popoverBodyColorBox {
        width: 25px;
        height: 25px;
        float: left;
        margin-bottom: 11px;
        &--chosen {
            border: 2px dotted black;
        }
    }
}