#gameSetupBox {
    .colorSelectorBox {
        height: 33px;
        width: 33px;
        float:right;
        border-radius: 3px;
        border: 1px solid black;
        transition: all 0.5s;
        &:hover {
            border: 3px solid white;
        }
    }
    .popoverBody {
        display: none;
    }
}

.popover-content {
    .popoverBodyColorBox {
        width: 25px;
        height: 25px;
        float: left;
        margin-bottom: 11px;
        border: 1px solid transparent;
        transition: all 0.5s;
        &:hover {
            border: 1px solid black;
        }
        &--chosen {
            border: 2px dotted black !important;
        }
    }
}