#lobbiesContainer {
	padding: 20px;
	background-color: rgba(75, 75, 75, 0.8117647058823529);
	border-radius: 30px;

	.warning {
		width: auto;
		margin: 0 auto;
		display: inline-block;

		.alert {
			padding-left: 40px;
		    padding-right: 40px;
		}
	}

	#lobbiesButtons {
		width: 80%;
	    margin: 0 auto;
	    position: relative;

	    #searchBar {
	    	position: absolute;
	    	right: 0;
	    	height: 100%;
	    	width: 250px;
	    }
	}

	#lobbyList {
		width: 80%;
	    margin: 0 auto;
	    margin-top: 40px;

		#theadContainer {
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		    background: #3a3a3a;
		    color: black;
		    width: 100%;
		    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.42);
		    display: table;
	        color: white;
	        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
		}

		#tbodyContainer {
			max-height: 300px;
			overflow-y: auto;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;

			&::-webkit-scrollbar-track
			{
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			    border-radius: 10px;
			    background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
			    width: 12px;
			    background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			    background-color: #555;

			    &:hover {
			    	background-color: #222;
			    }
			}

			#tbody {
			    background: #3a3a3a;
			    color: black;
			    width: 100%;
			    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.42);
			    display: table;
		        color: white;
		        min-height: 40px;
			}
		}

	    .lobbyRow {
	    	display: table-row;

	    	&.thead {
				font-weight: 900;

				.lobbyCell {
					height: 60px;
				}
	    	}

	    	&:nth-child(odd) {
			    background: rgba(93, 93, 93, 0.3411764705882353);
	    	}

	    	.lobbyCell {
	    		display: table-cell;
	    		height: 40px;
	    		vertical-align: middle;
	    		width: 17%;

	    		&:nth-child(1) {
	    			width: 5%;
	    		}
	    		&:nth-child(7) {
	    			width: 10%;
	    		}
	    	}
	    }
	}

	#muteChatContainer {
		width: 80%;
		text-align: right;
		margin: 0 auto;
		margin-top: 30px;
		display: table;

		div {
			vertical-align: bottom;
			&:first-child {
				display: table-cell;
				width: 50%;
				text-align: left;

				h3 {
					color: #e8e8e8;
				    margin: 0;
				    font-weight: 900;
				}
			}
			&:last-child {
				display: table-cell;
				width: 50%;
				text-align: right;

				button {
					font-size: 16px;

					.glyphicon {
						padding-left: 10px;
						margin-top: 3px;
					}
				}
			}
		}
	}

	#globalChat {
		width: 80%;
		background: #414141;
		margin: 0 auto;
		box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.42);
		border-radius: 30px;
	    border-top-right-radius: 10px;
	    position: relative;

		#chatMessagesContainer {
			min-height: 100px;
			max-height: 400px;
			overflow-y: auto;
			padding: 15px;
			padding-left: 40px;
		    resize: vertical;

			&::-webkit-scrollbar-track {
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			    background-color: #F5F5F5;
			    border-top-right-radius: 10px;
			}

			&::-webkit-scrollbar {
			    width: 20px;
			    background-color: #F5F5F5;
			    border-top-right-radius: 10px;
			}

			&::-webkit-scrollbar-thumb {
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			    background-color: #555;

			    &:hover {
			    	background-color: #222;
			    }
			}

			#topShadowOverlay {
				width: 98%;
				height: 40px;
				position: absolute;
				margin-top: -15px;
				margin-left: -40px;
				border-top-left-radius: 30px;
				background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(51, 51, 51) 1%,rgba(0,0,0,0) 100%);
			}

			.globalChatMessage {
				color: white;
			    text-align: left;
			    word-break: break-all;
			}
		}

		#senderBar {
			text-align: left;
		    height: 42px;

		    form {
		    	height: 100%;
		    	position: relative;
		    	input {
		    		border-radius: 0px;
		    	    border-bottom-left-radius: 30px;
		    	    padding-left: 30px;
		    	    border: none;
		    	    width: 90%;
		    	    padding-right: 50px;
		    	}

		    	#charactersLeft {
		    		position: absolute;
		    		color: #989898;
		    		right: 10%;
		    		top: 0;
		    		margin-top: 10px;
		    		margin-right: 10px;
		    	}

		    	button {
		    		width: 10%;
		    		float: right;
		    		height: 100%;
		    		border-radius: 0px;
		    		border-bottom-right-radius: 30px;
		    	}
		    }
		}
	}
}