#lobbiesContainer {
	padding: 20px;
	background-color: rgba(75, 75, 75, 0.8117647058823529);
	border-radius: 30px;

	.warning {
		width: auto;
		margin: 0 auto;
		display: inline-block;

		.alert {
			padding-left: 40px;
		    padding-right: 40px;
		}
	}

	#lobbiesButtons {
		width: 80%;
	    margin: 0 auto;
	    position: relative;

	    #searchBar {
	    	position: absolute;
	    	right: 0;
	    	height: 100%;
	    	padding: 10px;
	    	border: 0;
	    	outline: 0;
	    	border-radius: 10px;
	    	width: 250px;
	    	box-shadow: inset 0 0 5px #555;
	    }
	}

	#lobbyList {
		width: 80%;
	    margin: 0 auto;
	    margin-top: 40px;

		#theadContainer {
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		    background: #3a3a3a;
		    color: black;
		    width: 100%;
		    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.42);
		    display: table;
	        color: white;
	        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
		}

		#tbodyContainer {
			max-height: 300px;
			overflow-y: auto;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;

			&::-webkit-scrollbar-track
			{
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			    border-radius: 10px;
			    background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
			    width: 12px;
			    background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			    background-color: #555;

			    &:hover {
			    	background-color: #222;
			    }
			}

			#tbody {
			    background: #3a3a3a;
			    color: black;
			    width: 100%;
			    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.42);
			    display: table;
		        color: white;
			}
		}

	    .lobbyRow {
	    	display: table-row;

	    	&.thead {
				font-weight: 900;

				.lobbyCell {
					height: 60px;
				}
	    	}

	    	&:nth-child(odd) {
			    background: rgba(93, 93, 93, 0.3411764705882353);
	    	}

	    	.lobbyCell {
	    		display: table-cell;
	    		height: 40px;
	    		vertical-align: middle;
	    	}
	    }
	}
}