.riskModal {
    .modal-content {
        border-radius: 0px;
        border: none;
        margin-top: 80px;
    }
}

@import "scenarioSelectorModal";
@import "autoUpdaterModal";
@import "attackModal";
@import "pauseMenuModal";
@import "cardTurnInModal";
@import "turnPresentationModal";
@import "hostNewGameModal";
@import "joinPrivateLobbyModal";
@import "characterSelectionModal";