.autoUpdaterModal {
    > .modal-dialog {
        width: 900px;

        > .modal-content {
            border-radius: 30px;
            background-color: transparent;
            box-shadow: none;
        }
    }

    #updaterModal {
        .modal-dialog {
            width: 900px;
            height: 580px;

            .modal-content {
                border-radius: 30px;
                min-height: 580px;
                background: url(../assets/modalBackground.png);
                background-size: 100% 100%;
                box-shadow: none;
                padding-bottom: 40px;

                #patcherMainLoading {
                    svg {
                        width: 700px;
                        height: 580px;
                        padding-left: 32px;
                    }
                }

                #updating {
                    #loadingIndicator {
                        #loadingPercentage {
                            position: absolute;
                            width: 100%;
                            z-index: 1000;
                            margin-top: 270px;
                            font-weight: 900;
                            text-shadow: 0 0 20px black;
                        }

                        #patchLoadingColor {
                            position: absolute;
                            width: 100%;
                            padding-right: 25px;
                            svg {
                                height: 500px;
                            }
                        }

                        #patchLoadingGray {
                            height: 500px;
                            position: absolute;
                            overflow: hidden;
                            width: 100%;
                            padding-right: 25px;
                            svg {
                                height: 500px;
                                filter: url(#grayscale);
                            }
                        }
                    }

                    #loadingText {
                        padding-top: 500px;
                    }
                }
            }
        }
    }
}

.attackModalWrapper {
    > .modal-dialog {
        width: 1000px;

        > .modal-content {
            box-shadow: none;
            background-color: transparent;

            #attackModal {
                .turnAvatarContainer {
                    position: fixed;
                    height: 100%;
                    margin-top: 70px;
                    margin-left: 40px;
                    display: table;

                    &.right {
                        right: 60px;
                    }

                    #attackModalAttackerPortraitSvg, #attackModalDefenderPortraitSvg {
                        height: 250px;
                        width: 230px;
                        text-align: center;
                        svg {
                            height: 100% !important;
                            margin: 0 !important;
                            width: auto !important;
                        }
                    }
                }
                .modal-dialog {
                    width: 100%;

                    .modal-content {
                        -webkit-clip-path: polygon(0% 0%, 0% 6%, 1% 9%, 1% 12%, 0% 15%, 1% 18%, 1% 19%, 0% 20%, 1% 24%, 0% 24%, 0% 26%, 2% 29%, 0% 29%, 1% 32%, 0% 33%, 0% 38%, 1% 39%, 0% 41%, 0% 44%, 2% 46%, 0% 47%, 1% 52%, 1% 54%, 0% 57%, 0% 57%, 2% 58%, 0% 60%, 0% 64%, 0% 68%, 0% 69%, 1% 72%, 2% 77%, 2% 80%, 1% 80%, 0% 84%, 1% 92%, 0% 93%, 1% 95%, 0% 97%, 0% 100%, 100% 100%, 100% 0%);
                        clip-path: polygon(0% 0%, 0% 6%, 1% 9%, 1% 12%, 0% 15%, 1% 18%, 1% 19%, 0% 20%, 1% 24%, 0% 24%, 0% 26%, 2% 29%, 0% 29%, 1% 32%, 0% 33%, 0% 38%, 1% 39%, 0% 41%, 0% 44%, 2% 46%, 0% 47%, 1% 52%, 1% 54%, 0% 57%, 0% 57%, 2% 58%, 0% 60%, 0% 64%, 0% 68%, 0% 69%, 1% 72%, 2% 77%, 2% 80%, 1% 80%, 0% 84%, 1% 92%, 0% 93%, 1% 95%, 0% 97%, 0% 100%, 100% 100%, 100% 0%);
                        background: url('../assets/modalBackground.png');
                        background-size: 100% 100%;
                        box-shadow: none;
                        padding-bottom: 80px;

                        #diceContainer {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.pauseMenuModal {
    > .modal-dialog {
        > .modal-content {
            background: url(../assets/modalBackground.png);
            background-size: 100% 100%;
            box-shadow: none;
        }
    }
}

.cardTurnInModalWrapper {
    > .modal-dialog {
        > .modal-content {
            background: url(../assets/modalBackground.png);
            background-size: 100% 100%;
            box-shadow: none;
        }
    }
}

.turnPresentationModalWrapper {
    > .modal-dialog {
        > .modal-content {
            background: url(../assets/modalBackground.png);
            background-size: 100% 100%;
            box-shadow: none;
        }
    }
}

.hostNewGameModal {
    > .modal-dialog {
        > .modal-content {
            background: transparent;
            box-shadow: none;

            #hostNewGameModal {
                .modal-dialog {
                    width: 800px;
                    .modal-content {
                        background: url(../assets/modalBackground.png);
                        background-size: 100% 100%;
                        box-shadow: none;

                        .row {
                            padding-left: 30px;
                            padding-right: 30px;
                            margin-top: 10px;

                            .mapPreview {
                                background-color: #5397d1;
                                width: 50%;
                                margin: 0 auto;
                                padding: 20px;
                                box-shadow: 0 0 30px rgba(0, 0, 0, 0.46);

                                svg {
                                    pointer-events: none;
                                    .troopCounter, .troopCounterText, text {
                                        display: none;
                                    }
                                    text {
                                        display: none;
                                    }
                                }
                            }

                            .col-xs-4, .col-xs-8 {
                                height: 42px;
                            }

                            .col-xs-4 {
                                display: table;
                                text-align: right;

                                p {
                                    display: table-cell;
                                    vertical-align: middle;
                                }
                            }

                            input {
                                float: left;
                                width: 80%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.joinPrivateLobby {
    > .modal-dialog {
        > .modal-content {
            background: transparent;
            box-shadow: none;
            #joinPrivateLobby {
                .modal-dialog {
                    .modal-content {
                        background: url(../assets/modalBackground.png);
                        background-size: 100% 100%;
                        box-shadow: none;

                        p {
                            font-size: 20px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }

                        input {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

.riskModal {
    .modal-content {
        border-radius: 0px;
        border: none;
        margin-top: 80px;
    }

    .deadLabel {
        padding-top: 18px;
    }

    &#turnPresentationModal {
        .modal-content {
            background-color: transparent;
            box-shadow: none;
            margin-top: 200px;

            #troops {
                width: 80%;
                margin: 0 auto;

                h3 {
                    font-size: 18px;
                }
            }
        }

        #turnPresenterAvatarTarget {
            height: 300px;
            width: 100px;
            position: absolute;
            left: -70px;
            top: -10px;
        }
    }

    &#cardTurnInModal {
        > .modal-dialog {
            > .modal-content {
                background-color: transparent;
                box-shadow: none;
            }
        }

        .cardTurnInCombinations {
            svg {
                height: 25px;
                width: 25px;
            }
            .troopIcon.troop {
                svg {
                    margin-left: 2px;
                }
            }
        }
    }

    &#settingsModal {
        .modal-content {
            .modal-body {
                padding: 0;
            }
        }
    }

    &.characterSelect {
        .modal-dialog {
            width: 100%;

            .modal-content {
                background: #103c40;

                .modal-body {
                    padding-top: 0;
                    padding-bottom: 0;

                    .modal-body {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                .row {
                    background: #103c40;
                }
            }

            #characterSelectionModal {

                color: #d2d2d2;
                text-shadow: 1px 1px 10px black;

                #selectedCharacterPortrait {
                    box-shadow: 3px 3px 10px black;
                }

                .characterBio {
                    text-align: left;
                    font-size: 13px;
                    padding: 20px;
                    border-radius: 10px;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.33) 1%, transparent 100%);
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.33) 1%, transparent 100%);
                }

                .selectableAvatars {
                    width: 800px;
                    margin: 0 auto;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    &__item {
                        display: inline-flex;
                        padding: 5px;

                        img, div[character] {
                            width: 80px;
                            height: 80px;
                            border-radius: 5%;
                            border-top-left-radius: 40%;
                            border-bottom-right-radius: 40%;
                            border: 3px solid white;
                            border-bottom: 3px solid #949494;
                            border-right: 3px solid #949494;
                            cursor: url(../assets/cursors/new/pointer.png), auto;
                            box-shadow: 1px 1px 3px black;
                            transition: all 0.2s;
                            overflow: hidden;

                            svg {
                                width: 80px;
                                height: 80px;
                            }

                            * {
                                cursor: url(../assets/cursors/new/pointer.png), auto;
                            }

                            &:hover {
                                border: 3px solid #ff6d6d;
                            }

                            &:active {
                                transform: translate(0px, 3px);
                                -webkit-transform: translate(0px, 3px);
                                border: 3px solid;
                            }
                        }

                        div[character] {
                            display: table-caption;
                        }

                        &--selected {
                            border: 3px solid #be2bd5 !important;
                            cursor: url(../assets/cursors/new/default.png), auto !important;

                            &:active {
                                transform: translate(0px, 0px) !important;
                                -webkit-transform: translate(0px, 0px) !important;
                                border: 3px solid white;
                            }
                        }

                        &--taken {
                            cursor: url(../assets/cursors/new/notAllowed.png), auto !important;
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                            border-color: grey !important;
                            opacity: 0.6;

                            * {
                                cursor: url(../assets/cursors/new/notAllowed.png), auto !important;
                            }
                        }

                        &--notAvailable {
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }
}