.riskModal {
    .modal-content {
        border-radius: 0px;
        border: none;
        margin-top: 80px;
    }

    .deadLabel {
        padding-top: 18px;
    }

    &#attackModal {
        .modal-dialog {
            margin: 70px auto;
        }
    }

    &#turnPresentationModal, &#attackModal {
        .turnAvatarContainer {
            position: fixed;
            height: 100%;
            margin-top: -10px;
            margin-left: -30px;
            display: table;

            .turnAvatar {
                height: 100px;
                width: 100px;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
                border: 3px solid white;
            }
        }
    }

    &#turnPresentationModal {
        .modal-content {
            margin-top: 200px;
        }
    }

    &#attackModal {
        .turnAvatarContainer {
            margin-top: 70px;
            margin-left: -120px;
            &.right {
                right: -110px;
            }
            .turnAvatar {
                height: 180px;
                width: 180px;
            }
        }
    }

    &#cardTurnInModal {
        .cardTurnInCombinations {
            svg {
                height: 25px;
                width: 25px;
            }
            .troopIcon.troop {
                svg {
                    margin-left: 2px;
                }
            }
        }
    }
}