.scenarioSelectorModal {
    > .modal-dialog {
        width: 900px;
        > .modal-content {
            box-shadow: none;
            background-color: transparent;
        }
    }
    #scenarioSelectorModal {
        .modal-dialog {
            width: 900px;

            .modal-content {
                background: url(../assets/modalBackground.png);
                background-size: 100% 100%;
                box-shadow: none;
                padding: 50px;
            }
            
            .scenarioContainer {
                &__scenario {
                    height: 180px;
                    background-size: cover;
                    background-position: center center;
                    text-align: left;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    display: table;
                    width: 100%;
                    transition: all 0.4s;
                    box-shadow: inset 0 0 10px #000000;
                    cursor: url(../assets/cursors/new/pointer.png), auto;
                    filter: brightness(0.3);
                    
                    &.selected {
                        filter: none;
                        background-position: center bottom;
                        -webkit-filter: none;
                        filter: none;
                        height: 240px;
                        .scenarioContainer__scenario__specialRulesContainer {
                            display: table-row;
                            &__item {
                                color: white;
                                pointer-events: auto;
                            }
                        }
                    }

                    &.disabled {
                        cursor: url(../assets/cursors/new/notAllowed.png), auto !important;
                        * {
                            cursor: url(../assets/cursors/new/notAllowed.png), auto !important;
                        }
                    }

                    &__specialRulesContainer {
                        display: none;
                        margin-top: 20px;
                        width: 100%;
                        &__item {
                            width: 50px;
                            height: 50px;
                            background: white;
                            border-radius: 50%;
                            margin-right: 10px;
                            display: inline-block;
                            pointer-events: none;

                            &:first-child {
                                margin-left: 30px;
                            }
                        }
                    }
                    
                    p {
                        /* display: table-cell;
                        vertical-align: middle; */
                        padding-top: 20px;
                        color: black;
                        padding-left: 30px;
                        font-size: 20px;
                        font-weight: 900;
                        padding-right: 160px;
                        font-size: 15px;
                        strong {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}