.turnPresentationModalWrapper {
    > .modal-dialog {
        > .modal-content {
            background: url(../assets/modalBackground.png);
            background-size: 100% 100%;
            box-shadow: none;

            #turnPresentationModal {
                .modal-content {
                    background-color: transparent;
                    box-shadow: none;
                    margin-top: 200px;
            
                    #troops {
                        width: 80%;
                        margin: 0 auto;
            
                        h3 {
                            font-size: 18px;
                        }
                    }
                }
            
                #turnPresenterAvatarTarget {
                    height: 300px;
                    width: 100px;
                    position: absolute;
                    left: -70px;
                    top: -10px;
                }
            }
        }
    }
}