<div>
    <div id="characterSelectionModal" class="riskModal" role="dialog" data-backdrop="static">
        <div id="characterSelectionModal__leftGradient"></div>
        <div id="characterSelectionModal__rightGradient"></div>
        <div id="characterSelectionModal__background"></div>
        <!-- Modal content-->
        <div class="modal-body textCenter">
            <div class="row" style="width: 800px; margin: 0 auto;">
                <h2>
                    Character Selection
                </h2>
                <h4 style="z-index: 2;
                           bottom: 100px;
                           color: #ff2929;
                           font-size: 67px;
                           font-weight: bold;
                           font-family: 'Cinzel', serif;
                           letter-spacing: 2px;
                           text-shadow: -2px 2px 3px black;" data-ng-show="characterSelection.currentSelectedPlayer" data-ng-bind="characterSelection.currentSelectedPlayer.name"></h4>
            </div>
            <!-- <div id="characterSelectionFlag" class="marginBottom" data-ng-show="characterSelection.currentSelectedPlayer">
                <div class="pole"></div>
                <div class="poleTop"></div>
                <waving-flag flag-width="400" flag-height="200" flag-url="characterSelection.currentSelectedPlayer.avatar.flag" update-manually="true"></waving-flag>
            </div> -->
            <div class="row" style="position: absolute; width: 100%; bottom: 70px;">
                <div>
                    <div id="selectedCharacterSvg" data-ng-show="characterSelection.currentSelectedPlayer && (characterSelection.currentSelectedPlayer.avatar.svg || characterSelection.currentSelectedPlayer.avatar.customCharacter)" style="position: relative; z-index: 2;">
                    </div>
                </div>
            </div>
            <div class="row textCenter" style="margin: 0 auto; position: absolute; bottom: 10px; width: 100%;">
                <button type="button" class="button button-green large"  data-ng-click="characterSelection.ok()" data-ng-disabled="!characterSelection.currentSelectedPlayer">
                    Select
                </button>
            </div>
            <div class="row selectableAvatars">
                <div data-ng-repeat="avatar in characterSelection.avatars" class="selectableAvatars__item">
                     <div style="background-color: black;"
                          id="selectionModalCharacter{{ avatar.id }}"
                          class="selectionModalCharacer"
                          data-ng-if="!avatar.customCharacter"
                          data-ng-click="characterSelection.selectAvatar(avatar)"
                          data-ng-dblclick="characterSelection.selectAvatarAndClose(avatar)"
                          data-ng-class="{'selectableAvatars__item--selected': characterSelection.avatarIsSelected(avatar),
                                          'selectableAvatars__item--taken': characterSelection.avatarIsTaken(avatar)}"
                          inject-svg
                          src="{{ avatar.svg }}">
                      </div>
                     <div id="selectionModalCustomCharacter{{ avatar.id }}"
                          ng-show="!characterSelection.loadingCharacters"
                          class="selectableAvatars__item__customCharacter"
                          character="{{ avatar.id }}"
                          style="background-color: black;"
                          data-ng-if="avatar.customCharacter"
                          data-ng-click="characterSelection.selectAvatar(avatar)"
                          data-ng-dblclick="characterSelection.selectAvatarAndClose(avatar)"
                          data-ng-class="{'selectableAvatars__item--selected': characterSelection.avatarIsSelected(avatar),
                                          'selectableAvatars__item--taken': characterSelection.avatarIsTaken(avatar)}"
                          inject-svg
                          src="assets/avatarSvg/custom.svg">
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>