<form action="" onsubmit="return false;">
    <div id="hostNewGameModal" class="riskModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body textCenter">
                        <div class="row">
                            <div class="col-xs-12 textCenter marginTop--double marginBottom--double paddingBottom">
                                <div data-ng-repeat="mapKey in hostNewGame.mapKeys track by $index">
                                    <p data-ng-bind="hostNewGame.maps[mapKey].name" style="font-size: 20px;"></p>
                                    <p>
                                        <strong>Regions:</strong> {{hostNewGame.maps[mapKey].regions}}
                                    </p>
                                    <p class="paddingBottom">
                                        <strong>Territories:</strong> {{hostNewGame.maps[mapKey].territories}}
                                    </p>
                                    <div
                                        id="hostNewGameMapPreview{{ $index }}"
                                        class="mapPreview"
                                        inject-svg
                                        src="{{ hostNewGame.maps[mapKey].mainMap }}"
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <p>
                                    <strong>Game name</strong>
                                </p>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" maxlength="15" data-ng-model="hostNewGame.gameName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <p>
                                    <strong>Password (optional)</strong>
                                </p>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" data-ng-model="hostNewGame.password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="colorWhite" data-ng-show="hostNewGame.gameName.length < 5 && hostNewGame.gameName.length > 0">
                                    Game name must be at least 5 characters long
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 marginBottom--double paddingBottom--double">
                                <button type="button" class="button button-red large" data-ng-click="hostNewGame.cancel()">
                                    Cancel
                                </button>
                                <button type="submit" class="button button-blue large" data-ng-click="hostNewGame.createLobby()" data-ng-disabled="hostNewGame.gameName.length < 5">
                                    Create lobby
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>