<div>
    <div id="pauseMenuModal" class="riskModal" role="dialog" data-backdrop="static">
        <div class="textCenter mainMenuBox">
            <div id="settingsBox">
                <div data-ng-show="pauseMenu.currentState === pauseMenu.states.MAIN_MENU">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue mainMenuButton" data-ng-click="pauseMenu.continue()">
                                <strong>Continue</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue mainMenuButton" data-ng-click="pauseMenu.settings()">
                                <strong>Settings</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button
                                type="button"
                                class="button button-blue mainMenuButton"
                                data-ng-click="pauseMenu.exitToMenu()"
                                data-ng-class="{'warningCursor': pauseMenu.multiplayer}"
                                uib-tooltip-html="pauseMenu.exitTooltip"
                                tooltip-enable="pauseMenu.multiplayer"
                                tooltip-placement="bottom"
                                tooltip-class="warningTooltipTop"
                            >
                                <strong>Exit to main menu</strong>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="textCenter mainMenuBox" data-ng-controller="settingsController as settings" data-ng-show="pauseMenu.currentState === pauseMenu.states.SETTINGS">
                    <div class="row paddingLeft--double paddingRight--double">
                        <strong style="color: white;">
                            The settings that you configure here will be automatically saved to your browsers local storage so that you don't have to reset them everytime.
                        </strong>
                    </div>

                    <div class="row" style="margin-top: 40px;">
                        <div class="col-xs-4">
                            <div>
                                AI Speed
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <rzslider rz-slider-model="settings.aiSpeed" rz-slider-options="settings.movementSliderOptions"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Play sound
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleSound()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.playSound">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Music volume
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <rzslider rz-slider-model="settings.musicVolume" rz-slider-options="settings.musicVolumeSliderOptions"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Sound effects volume
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <rzslider rz-slider-model="settings.sfxVolume" rz-slider-options="settings.sfxVolumeSliderOptions"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Show announcer <i class="fas fa-info-circle" uib-tooltip="If turned on each turn will be presented by a announcer." tooltip-placement="top" style="color: #f0f048;"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleAnnouncer()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.showAnnouncer">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="settings.runningElectron">
                        <div class="col-xs-4">
                            <div>
                                Full Screen
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleFullScreen()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.fullScreen">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Fast Dice <i class="fas fa-info-circle" uib-tooltip="If turned on the dice rolls will be much faster." tooltip-placement="top" style="color: #f0f048;"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleFastDice()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.fastDice">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Dice color <i class="fas fa-info-circle" uib-tooltip="The color used for your attacking dice. Works in multiplayer as well." tooltip-placement="top" style="color: #f0f048;"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons" style="color: white; table-layout: fixed;">
                            <div style="display: table-cell;">
                                Background:
                            </div>
                            <div class="colorSelector" id="colorSelectorBackground" style="display: table-cell;">
                            </div>
                            <div style="display: table-cell;">
                                Label:
                            </div>
                            <div class="colorSelector" id="colorSelectorLabel" style="display: table-cell;">
                            </div>
                            <div style="display: table-cell;">
                                Preview:
                            </div>
                            <div id="dicePreview" style="font-size: 24px; font-weight: 900; text-align: center; line-height: 50px;display: table-cell; width: 50px; height: 50px; border-radius: 4px; background: {{ settings.settings.attackerDice }}; color: {{ settings.settings.attackerDiceLabel }};">
                                3
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-xs-12">
                            <button type="button" class="button button-blue" data-ng-click="pauseMenu.backToMenu()" id="moveButton">
                                <strong>Back</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>