#characterEditor {
	#mainDiv {
		margin-top: 70px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
        background: rgba(59, 59, 59, 0.788235294117647);
        border-radius: 30px;
        height: 896px;

        #flagContainer {
            position: absolute;
            z-index: 1;
            left: 120px;
            margin-top: 36px;
        }

        #editorControls {
            #flagSelector {
                width: 100%;
                margin-top: 10px;
                max-height: 170px;
                overflow-y: scroll;
                padding-left: 15px;
                margin-bottom: 20px;
                border: 2px solid rgba(0, 0, 0, 0.48);
                border-radius: 15px;
                text-align: left;
                padding-top: 8px;
                padding-bottom: 8px;

                > div {
                    width: 50px;
                    height: 35px;
                    display: inline-block;
                    margin-right: 5px;
                    cursor: pointer;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border: 3px solid transparent;

                    &.selected {
                        border: 3px solid #66D5FE;
                        box-shadow: 0 0 10px rgba(102, 213, 254, 0.71);
                    }
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar {
                    width: 12px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: #555;

                    &:hover {
                        background-color: #222;
                    }
                }
            }

        	input {
		    	width: 100%;
			    border-radius: 5px;
			    outline: none;
			    padding: 5px;
			    padding-left: 15px;
			    padding-right: 15px;
			    margin-top: 35px;
			    margin-bottom: 30px;
                font-size: 26px;
                border: none;
        	}

        	.arrowButton {
        		width: 35px;
        		height: 35px;
        		text-align: center;
        		margin: 0 auto;
        		padding: 0;
        		border-radius: 50%;

        		p {
        			margin: auto 0;
        		}
        	}
        }

        #editorCustomCharacterMain {
            position: relative;
            z-index: 100;
        	svg {
    		    height: 750px;
        	}
        }

        .existingCharactersContainer {
        	border: 2px solid black;
    	    border-radius: 8px;
    	    width: 700px;
    	    margin: 0 auto;
    	    margin-top: 15px;
    	    background: rgba(255, 255, 255, 0.2);

    	    &__item {
    	    	height: 100px;
	    	    background-color: #535353;
	    	    display: inline-block;
	    	    margin-left: 10px;
	    	    border-radius: 5px;
	    	    width: 100px;
	    	    text-align: center;
	    	    margin-top: 5px;
	    	    cursor: pointer;

	    	    transition: background-color 0.3s;

	    	    &-selected {
    	    	    box-shadow: 0 0 35px #ffffff;
	    	    }

	    	    &:hover {
	    	    	background-color: #8d8d8d;
	    	    }

	    	    * {
	    	    	cursor: pointer;
	    	    }

    	    	&__inner {
    	    		display: table;
	    		    height: 100%;
	    		    margin: 0 auto;

	    		    svg {
	    		    	width: 100%;
	    		    }

    	    		span {
    	    			display: table-cell;
	    			    vertical-align: middle;
    	    		}
    	    	}
    	    }
        }
	}
}