<div id="authenticationBox"
     data-ng-show="main.currentGamePhase == main.gamePhases.MAIN_MENU ||
                   main.currentGamePhase == main.gamePhases.SETTINGS ||
                   main.currentGamePhase == main.gamePhases.PLAYER_SETUP ||
                   main.currentGamePhase == main.gamePhases.CHARACTER_CREATOR ||
                   main.currentGamePhase == main.gamePhases.PLAYER_SETUP_MULTIPLAYER ||
                   main.currentGamePhase === main.gamePhases.MULTIPLAYER_LOBBIES ||
                   main.currentGamePhase === main.gamePhases.EDIT_PROFILE ||
                   main.currentGamePhase === main.gamePhases.PROFILE ||
                   main.currentGamePhase === main.gamePhases.END_SCREEN ||
                   main.currentGamePhase === main.gamePhases.CHARACTER_GALLERY ||
                   main.currentGamePhase === main.gamePhases.LEADERBOARD"
     data-ng-controller="authenticationController as auth"
     ng-cloak>
    <div data-ng-show="auth.currentState === auth.states.LOGGED_IN || auth.currentState === auth.states.EDIT_PROFILE" style="height: 100%;">
        <div style="height: 100%; display: table;">
            <div style="height: 100%; display: table-cell; vertical-align: middle;">
                <div player-portrait
                     xsmall
                     id="authenticationBoxDefaultAvatar"
                     avatar="auth.chosenDefaultAvatar"
                     target="authenticationBoxDefaultAvatarSvg"
                     loading="authenticationBoxDefaultAvatarLoading"
                     data-ng-click="auth.goToProfile()">
                    <div id="authenticationBoxDefaultAvatarInner">
                        <div data-ng-show="auth.chosenDefaultAvatar === 'none'">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div id="authenticationBoxDefaultAvatarSvg"></div>
                        <div id="authenticationBoxDefaultAvatarLoading" data-ng-hide="auth.chosenDefaultAvatar === 'none'">
                            <div>
                                <div>
                                    <ng-include src="'src/views/loading.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100%; display: table-cell; vertical-align: middle;" class="paddingLeft--double">
                <p>
                    Logged in as <strong>{{ auth.user.displayName ? auth.user.displayName : auth.user.email }}</strong>
                </p>
                <button type="button" class="button button-blue marginLeft" data-ng-click="main.setGamePhase(main.gamePhases.EDIT_PROFILE)" data-ng-disabled="main.currentGamePhase === main.gamePhases.PLAYER_SETUP_MULTIPLAYER"
                style="margin: 0; margin-top: 5px;">
                    Edit profile
                </button>
                <button type="button" class="button button-red marginLeft" data-ng-click="auth.logout()" data-ng-disabled="main.currentGamePhase === main.gamePhases.PLAYER_SETUP_MULTIPLAYER"
                style="margin: 0; margin-top: 5px;">
                    Logout
                </button>
            </div>
        </div>
    </div>
    <div data-ng-show="auth.currentState === auth.states.LOGGED_IN || auth.currentState === auth.states.EDIT_PROFILE" id="editProfile">
        <p
            class="fakeLink"
            data-ng-click="auth.goToState(auth.states.EDIT_PROFILE)"
            data-ng-show="auth.currentState === auth.states.LOGGED_IN && main.currentGamePhase !== main.gamePhases.PLAYER_SETUP_MULTIPLAYER && false">
            <!-- Hide for now -->
            Edit profile
        </p>
        <div data-ng-show="auth.currentState === auth.states.EDIT_PROFILE">
            <p class="paddingBottom paddingTop--double">Display name</p>
            <input type="text" data-ng-model="auth.newDisplayNameData" class="marginRight" placeholder="Display name" maxlength="20" />
            <button type="button" class="button button-red marginTop" data-ng-click="auth.cancelUpdate()">
                Cancel
            </button>
            <button type="button" class="button button-green marginTop" data-ng-click="auth.updateProfile()">
                Update profile
            </button>
        </div>
    </div>
    <div data-ng-show="auth.currentState === auth.states.NOT_LOGGED_IN">
        <div class="marginBottom">
            <p>
                You are not logged in
            </p>
        </div>
        <button type="button" class="button button-green marginLeft" data-ng-click="auth.goToState(auth.states.LOGIN)">
            Login
        </button>
        <button type="button" class="button button-green marginLeft" data-ng-click="auth.goToState(auth.states.RESET_PASSWORD)">
            Reset password
        </button>
        <button type="button" class="button button-green marginLeft" data-ng-click="auth.goToState(auth.states.SIGNUP)">
            Signup
        </button>
    </div>
    <div data-ng-show="auth.currentState === auth.states.LOGIN">
        <form action="" onsubmit="return false;">
            <button type="button" class="button button-green marginRight" data-ng-click="auth.goToState(auth.states.NOT_LOGGED_IN)">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <div class="marginTop">
                <input type="text" data-ng-model="auth.loginData.email" class="marginRight" placeholder="Email" />
            </div>
            <div class="marginTop">
                <input type="password" data-ng-model="auth.loginData.password" class="marginRight" placeholder="Password" />
            </div>
            <div class="marginTop">
                <button type="submit" class="button button-green" data-ng-disabled="!auth.loginData.password || !auth.loginData.email" data-ng-click="auth.login()">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div data-ng-show="auth.currentState === auth.states.RESET_PASSWORD">
        <form action="" onsubmit="return false;">
            <button type="button" class="button button-green marginRight" data-ng-click="auth.goToState(auth.states.NOT_LOGGED_IN)">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <input type="text" data-ng-model="auth.resetPasswordMail" class="marginRight" placeholder="Email" />
            <button type="submit" class="button button-green" data-ng-click="auth.resetPassword()" data-ng-disabled="!auth.resetPasswordMail">
                Reset password
            </button>
        </form>
    </div>
    <div data-ng-show="auth.currentState === auth.states.SIGNUP">
        <form action="" onsubmit="return false;">
            <div>
                <button type="button" class="button button-green marginRight" data-ng-click="auth.goToState(auth.states.NOT_LOGGED_IN)">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="marginTop">
                <input type="text" data-ng-model="auth.signupData.userName" class="marginRight" maxlength="20" placeholder="Username" />
            </div>
            <div class="marginTop">
                <input type="text" data-ng-model="auth.signupData.email" class="marginRight" placeholder="Email" />
            </div>
            <div class="marginTop">
                <input type="password" data-ng-model="auth.signupData.password" class="marginRight" placeholder="Password" />
            </div>
            <div class="marginTop">
                <button type="submit" class="button button-green" data-ng-disabled="!auth.signupData.userName || !auth.signupData.email || !auth.signupData.password" data-ng-click="auth.signup()">
                    Signup
                </button>
            </div>
        </form>
    </div>
    <div data-ng-show="auth.currentState === auth.states.LOADING" id="loading" style="height: 100%;">
        <div style="display: table-cell; vertical-align: middle;">
            <ng-include src="'src/views/loading.html'"></ng-include>
        </div>
    </div>
</div>