<div data-ng-if="main.currentGamePhase == main.gamePhases.CHARACTER_GALLERY" class="textCenter mainMenuBox" data-ng-controller="characterGalleryController as characterGallery" id="characterGallery" style="position: relative;" ng-cloak>
    <div id="mainDiv">
        <div class="backButtonContainer">
            <button type="button" class="button button-green" data-ng-click="main.setGamePhase(main.gamePhases.MAIN_MENU)">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </div>
        <div id="galleryContainer" data-ng-class="{'noScroll': characterGallery.loading}"></div>
        <ng-include src="'src/views/loading.html'" data-ng-show="characterGallery.loading" id="loadingIndicator"></ng-include>
    </div>
</div>