<div data-ng-if="main.currentGamePhase == main.gamePhases.END_SCREEN" class="victoryScreen" data-ng-controller="endScreenController as endScreen" ng-cloak>
    <div class="victoryScreen__background">
        <div class="world">
            <div class="world-globe">
                <div class="world-globe-pole"></div>
                <div class="world-globe-doms-container"></div>
                <div class="world-globe-halo"></div>
            </div>
        </div>
    </div>
    <button type="button" class="button button-green backButton" data-ng-click="main.setGamePhase(main.gamePhases.MAIN_MENU)">
        Back to main menu
    </button>
    <button type="button" class="button button-purple screenshotButton" data-ng-show="endScreen.runningElectron" data-ng-click="endScreen.takeScreenshot()" data-ng-disabled="endScreen.disableScreenshotButton">
        <span class="glyphicon glyphicon-camera"></span>
    </button>

    <div class="podium">
        <div id="endScreenPodiumImage" inject-svg src="assets/podium.svg"></div>
        <div class="podiumSvgContainer" id="firstPlaceContainer"></div>
        <div class="podiumSvgContainer" id="secondPlaceContainer"></div>
        <div class="podiumSvgContainer" id="thirdPlaceContainer"></div>

        <div class="podiumFlagContainer" id="firstPlaceFlagContainer">
            <div class="podiumFlagContainer__flagPoleTop"></div>
            <div class="podiumFlagContainer__flagPole"></div>
            <waving-flag class="podiumFlagContainer__flag" flag-width="200" flag-height="120" flag-url="endScreen.players[0].avatar.flag"></waving-flag>
        </div>
        <div class="podiumFlagContainer" id="secondPlaceFlagContainer">
            <div class="podiumFlagContainer__flagPoleTop"></div>
            <div class="podiumFlagContainer__flagPole"></div>
            <waving-flag class="podiumFlagContainer__flag" flag-width="200" flag-height="120" flag-url="endScreen.players[1].avatar.flag"></waving-flag>
        </div>
        <div class="podiumFlagContainer" id="thirdPlaceFlagContainer">
            <div class="podiumFlagContainer__flagPoleTop"></div>
            <div class="podiumFlagContainer__flagPole"></div>
            <waving-flag class="podiumFlagContainer__flag" flag-width="200" flag-height="120" flag-url="endScreen.players[2].avatar.flag"></waving-flag>
        </div>
    </div>
    <div class="parchmentTop" id="endScreenParchmentElement" inject-svg src="assets/parchment.svg"></div>
    <div class="victoryScreen__container">
        <div class="endScreenTableContainer">
            <table class="endScreenTable">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th></th>
                        <th class="textRight">Battles Won</th>
                        <th class="textRight">Battles Lost</th>
                        <th class="textRight">Retreats</th>
                        <th class="textRight">Card combos used</th>
                        <th class="textRight">Total reinforcements</th>
                        <th class="textRight">Troops killed</th>
                        <th class="textRight">Troops lost</th>
                        <th class="textRight">Status</th>
                        <th class="textRight" data-ng-show="endScreen.multiplayer">
                            Rating
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="player in endScreen.players track by $index">
                        <td data-ng-bind="player.rank" class="textCenter"></td>
                        <td style="color: {{ player.color.name === 'Black' ? 'black' : player.color.mainColor }};">
                            {{ player.name }} <span data-ng-show="player.type === 1">(AI)</span>
                        </td>
                        <td>
                            <waving-flag flag-width="60" flag-height="35" flag-url="player.avatar.flag"></waving-flag>
                        </td>
                        <td data-ng-bind="player.statistics.battlesWon" class="textRight"></td>
                        <td data-ng-bind="player.statistics.battlesLost" class="textRight"></td>
                        <td data-ng-bind="player.statistics.retreats" class="textRight"></td>
                        <td data-ng-bind="player.statistics.cardCombinationsUsed" class="textRight"></td>
                        <td data-ng-bind="player.statistics.totalReinforcements" class="textRight"></td>
                        <td data-ng-bind="player.statistics.troopsKilled" class="textRight"></td>
                        <td data-ng-bind="player.statistics.troopsLost" class="textRight"></td>
                        <td>
                            <div data-ng-show="player.dead" class="endScreenTableDead" uib-tooltip="DEAD" tooltip-placement="top">
                                <div id="endScreenSkullIcon{{ $index }}" inject-svg src="assets/skull.svg"></div>
                                <div>
                                    (Turn {{ player.deadTurn }})
                                </div>
                            </div>
                            <span data-ng-show="!player.dead">
                                Alive
                            </span>
                        </td>
                        <td
                            class="textRight"
                            data-ng-show="endScreen.multiplayer"
                            data-ng-class="{'ratingDifferencePlus': player.ratingDifference > 0, 'ratingDifferenceMinus': player.ratingDifference < 0, 'ratingDifferenceNeutral': player.ratingDifference === 0}"
                        >
                            <span data-ng-show="player.type === 0">
                                <span data-ng-show="player.ratingDifference !== 0" uib-tooltip-html="player.ratingTooltip" tooltip-placement="left">
                                    <span class="ratingDifferenceText">
                                        {{ player.ratingDifference }}
                                    </span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </span>
                                <span data-ng-show="player.ratingDifference === 0">
                                    No change
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>