<div
    class="container"
    data-ng-controller="gameController as game"
    id="singlePlayerContainer"
    data-ng-if="main.currentGamePhase == main.gamePhases.GAME || main.currentGamePhase == main.gamePhases.AI_TESTING"
>
    <div style="height: 100%;" ng-cloak>
        <div class="row colorWhite" id="topBar">
            <div class="col-xs-4 textCenter paddingTop--double" style="padding-left:0px;">
                <div class="col-xs-3">
                    <div id="currentPlayerPortrait">
                        <div class="setupBoxAvatarsContainer__item" style="margin-top: 0px;">
                            <div
                                id="currentPlayerPortraitSingleplayer"
                                player-portrait
                                avatar="game.turn.player.avatar"
                                class="box-shadow setupBoxAvatarsContainer__item__portrait"
                                style="background-color: {{ game.lightenDarkenColor(game.turn.player.color.mainColor, -70)  }};
                                       border-color: {{ game.turn.player.color.mainColor }};">

                                <div class="setupBoxAvatarsContainer__item__portrait__svg" data-ng-show="!game.turn.player.avatar.customCharacter">
                                </div>
                                <div class="setupBoxAvatarsContainer__item__portrait__svgCustom" data-ng-show="game.turn.player.avatar.customCharacter">
                                </div>
                            </div>
                            <div class="setupBoxAvatarsContainer__item__flag">
                                <waving-flag flag-width="90" flag-height="50" flag-url="game.turn.player.avatar.flag"></waving-flag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12" style="padding: 0px; margin-left: 5px;">
                        <strong id="playerName" class="floatLeft text-shadow" style="letter-spacing: -2px; line-height: 30px; color: {{ game.getCurrentPlayerColor() }}"><span data-ng-bind="game.turn.player.name"></span></strong>
                    </div>
                    <div class="col-xs-12" style="padding: 0px; height: 80px; min-height: 80px; max-height: 80px;">
                        <div
                            class="floatLeft"
                            data-ng-disabled="game.turn.turnPhase !== 0"
                            data-ng-click="game.turnInCards()"
                            data-ng-show="game.turn.player.cards.length > 0"
                            data-ng-class="{'fakeLink': game.turn.turnPhase === 0}"
                            uib-tooltip="These are the cards you currently have on hand. Click to turn in if in deployment phase."
                            tooltip-placement="bottom"
                        >
                            <div class="marginLeft" style="pointer-events: none; pointer-events: none; height: 40px;">
                                <div class="card small"
                                data-ng-repeat="card in game.turn.player.cards track by $index"
                                data-territory-name="{{card.name}}"
                                data-region-name="{{card.regionName}}">
                                    <span data-ng-show="game.turn.player.type === game.PLAYER_TYPES.HUMAN">
                                        <span id="cardTroopIconCannon{{ $index }}" data-ng-show="card.cardType === game.CARD_TYPE.CANNON" class="troopIcon cannon" inject-svg src="assets/troopIcons/cannon.svg">
                                        </span>
                                        <span id="cardTroopIconHorse{{ $index }}" data-ng-show="card.cardType === game.CARD_TYPE.HORSE" class="troopIcon horse" inject-svg src="assets/troopIcons/horse.svg">
                                        </span>
                                        <span id="cardTroopIconSoldier{{ $index }}" data-ng-show="card.cardType === game.CARD_TYPE.TROOP" class="troopIcon troop" inject-svg src="assets/troopIcons/soldier.svg">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="game.turn.player.cards.length === 0" class="floatLeft marginLeft marginTop" style="color: white;">
                            No cards on hand
                        </div>
                        <h4 class="floatLeft marginLeft" style="clear: left;" data-ng-show="game.currentOwnagePercentage">
                            <span data-ng-show="game.chosenGoal !== 100">
                                Currently controlling <strong>{{ game.currentOwnagePercentage }}/{{ game.chosenGoal }}%</strong>
                            </span>
                            <span data-ng-show="game.chosenGoal === 100">
                                Currently controlling <strong>{{ game.currentOwnagePercentage }}%</strong>
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="filters" class="paddingTop--double paddingBottom--double col-xs-4 textCenter" style="padding-right:0px;">
                <div class="buttonGroup">
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': game.filter === 'byOwner'}" id="showByOwner" data-ng-click="game.filterByOwner()">
                        <strong>Color by owner</strong>
                    </button>
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': game.filter === 'byRegion'}" id="showByRegion" data-ng-click="game.filterByRegion()" data-ng-class="{'active': game.filter == 'byRegion'}">
                        <strong>Color by region</strong>
                    </button>
                    <button type="button" class="button button-purple" data-ng-click="game.pause()" style="width: 46px; height: 34px;" data-ng-show="game.aiTurn">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" data-ng-show="game.gamePaused === game.pauseModes.NOT_PAUSED"></span>
                        <span data-ng-show="game.gamePaused === game.pauseModes.PAUSING">{{ game.pausingDots }}</span>
                        <span class="glyphicon glyphicon-play" aria-hidden="true" data-ng-show="game.gamePaused === game.pauseModes.PAUSED"></span>
                    </button>
                    <button type="button" class="button button-green" data-ng-click="game.openMenu()" style="height: 34px;">
                        MENU
                    </button>
                </div>
                <h4>Turn number <strong data-ng-bind="game.turn.turnNumber"></strong></h4>
            </div>
            <div class="col-xs-4 paddingTop--double " id="turnInfo">
                <div class="row">
                    <div class="col-xs-9" style="line-height: 40px;" id="currentPhaseIndicator">
                        <div>
                            <div class="phaseIndicator">
                                <h3 style="margin-top: 0;" data-ng-show="game.turn.turnPhase == 0">
                                    Deployment phase
                                </h3>
                                <h3 style="margin-top: 0;" data-ng-show="game.turn.turnPhase == 1">
                                    Attack phase
                                </h3>
                                <h3 style="margin-top: 0;" data-ng-show="game.turn.turnPhase == 2">
                                    Movement phase
                                </h3>
                                <div class="stepsContainer">
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': game.turn.turnPhase == 0, 'done': game.turn.turnPhase != 0}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': game.turn.turnPhase == 1, 'done': game.turn.turnPhase > 1, 'futureStep': game.turn.turnPhase < 1}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': game.turn.turnPhase == 2, 'done': game.turn.turnPhase > 2, 'futureStep': game.turn.turnPhase < 2}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="troop_{{ game.turn.player.color.name }}" data-ng-show="game.turn.turnPhase == 0" style="width: 300px; position: absolute;">
                                    <div class="textCenter" data-ng-if="game.troopsToDeploy <= 12">
                                        <div style="display: inline-block;" class="mainTroopIndicator" data-ng-repeat="i in game.toArray(game.troopsToDeploy) track by $index">
                                            <div id="reinforcementTroopIconSingleplayer{{ $index }}" inject-svg src="assets/troopIcons/soldier2.svg"></div>
                                        </div>
                                    </div>
                                    <div data-ng-if="game.troopsToDeploy > 12" class="textCenter" style="margin-top: -5px;">
                                        <div style="display: inline-block;">
                                            <div id="reinforcementTroopIconSingleplayer-static" inject-svg src="assets/troopIcons/soldier2.svg"></div>
                                        </div>
                                        <div style="display: inline-block; position: relative; font-size: 22px; top: -12px;">
                                            x{{ game.troopsToDeploy }}
                                        </div>
                                    </div>
                                    <div class="textCenter" data-ng-if="game.troopsToDeploy === 0">
                                        <strong>No more reinforcements!</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="line-height: 30px;">
                        <span id="nextButton"
                              data-ng-click="game.nextTurn()"
                              data-ng-show="!game.aiTurn"
                              data-ng-class="{'nextButton--disabled': game.checkIfNextIsDisabled(), 'pulsateButton': !game.checkIfNextIsDisabled() && game.turn.turnPhase === 0 && game.troopsToDeploy === 0}">
                                  <span>
                                      Next
                                  </span>
                              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gameView">
            <div id="showRegionBonuses" class="button button-green large button-unclickable">
                Show region bonuses
                <div id="showRegionBonusesInner">
                    <div id="showRegionBonusesInnerInner">
                        <div class="regionInfo" style="color: black; padding-bottom: 10px; border-bottom: none;">
                            <p style="text-shadow: none; width: 50%; text-align: left;">Region</p><p style="width: 50%; text-align: right;">Troop bonus</p>
                        </div>
                        <div class="regionInfo" data-ng-repeat="region in game.mapConfiguration.regions">
                            <p style="color: {{ region.color.mainColor }};">{{ region.name }}</p><p>{{ region.bonusTroops }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ownageChartContainer" uib-tooltip-html="game.ownageChartTooltip" tooltip-placement="right">
                <canvas id="ownageChartSingleplayer" width="100" height="100"></canvas>
            </div>
            <div class="troopChartContainer" uib-tooltip-html="game.troopChartTooltip" tooltip-placement="right">
                <canvas id="troopChartSingleplayer" width="100" height="100"></canvas>
            </div>
           <div id="singleplayerMap" data-ng-class="{'endScreen': main.currentGamePhase === main.gamePhases.END_SCREEN}">
           </div>
        </div>
    </div>
</div>