<div class="container mainContent" id="multiplayerContainer" data-ng-controller="gameControllerMultiplayer as gameMultiplayer"">
    <div data-ng-show="main.currentGamePhase == main.gamePhases.GAME_MULTIPLAYER" ng-cloak>
        <div class="row" id="topBar">
            <div class="col-xs-4 textCenter paddingTop--double " style="padding-left:0px; overflow: hidden;">
                <div class="col-xs-3" id="mainTurnAvatar" player-portrait avatar="gameMultiplayer.turn.player.avatar" target="mainTurnAvatarMultiplayer" small>
                    <div id="mainTurnAvatarMultiplayer">
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12" style="padding: 0px;">
                        <span style="float: left; color: white;">Current player:</span>
                        <strong id="playerName" class="floatLeft text-shadow" style="margin-bottom: 5px; clear: both; letter-spacing: -2px; line-height: 30px; color: {{ gameMultiplayer.getCurrentPlayerColor() }}"><span data-ng-bind="gameMultiplayer.turn.player.name"></span></strong>
                    </div>
                    <div class="col-xs-12" style="padding: 0px;">
                        <img src="assets/img/cards.png"
                             id="cardButton"
                             class="floatLeft"
                             style="width: 30px;"
                             data-ng-disabled="gameMultiplayer.turn.turnPhase !== 0 || !gameMultiplayer.isMyTurn()"
                             data-ng-click="gameMultiplayer.turnInCards()"
                             data-ng-class="{'cardButton--disabled': gameMultiplayer.aiTurn}"
                             data-toggle="tooltip"
                             data-placement="bottom"
                             value="Open cards view" />
                        <h4 class="floatLeft marginLeft" id="cardCounter">({{gameMultiplayer.turn.player.cards.length}})</h4>
                    </div>
                </div>
            </div>
            <div id="filters" class="paddingTop--double paddingBottom--double col-xs-5 textCenter" style="padding-right:0px;">
                <div class="buttonGroup">
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': gameMultiplayer.filter === 'byOwner'}" id="showByOwner" data-ng-click="gameMultiplayer.filterByOwner()">
                        <strong>Color by owner</strong>
                    </button>
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': gameMultiplayer.filter === 'byRegion'}" id="showByRegion" data-ng-click="gameMultiplayer.filterByRegion()" data-ng-class="{'active': gameMultiplayer.filter == 'byRegion'}">
                        <strong>Color by region</strong>
                    </button>
                    <button type="button" class="button button-purple" data-ng-click="gameMultiplayer.pause()" style="width: 46px; height: 34px;" data-ng-show="gameMultiplayer.aiTurn">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.NOT_PAUSED"></span>
                        <span data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.PAUSING">{{ gameMultiplayer.pausingDots }}</span>
                        <span class="glyphicon glyphicon-play" aria-hidden="true" data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.PAUSED"></span>
                    </button>
                    <button type="button" class="button button-green" data-ng-click="gameMultiplayer.openMenu()" style="height: 34px;">
                        MENU
                    </button>
                </div>
                <h4>Turn number <strong data-ng-bind="gameMultiplayer.turn.turnNumber"></strong></h4>
            </div>
            <div class="col-xs-3 paddingTop--double " id="turnInfo">
                <div class="row">
                    <div class="col-xs-9" style="line-height: 40px;" id="currentPhaseIndicator">
                        <div>
                            <div data-ng-show="gameMultiplayer.turn.turnPhase == 0" class="troop_{{ gameMultiplayer.turn.player.color.name }}">
                                <div>Deployment phase</div>
                                <div data-ng-if="gameMultiplayer.troopsToDeploy <= 9">
                                    <div class="mainTroopIndicator floatLeft" data-ng-repeat="i in gameMultiplayer.toArray(gameMultiplayer.troopsToDeploy) track by $index">
                                        <div id="reinforcementTroopIconMultiplayer{{ $index }}" inject-svg src="assets/troopIcons/soldier.svg"></div>
                                    </div>
                                </div>
                                <div data-ng-if="gameMultiplayer.troopsToDeploy > 9">
                                    <div class="floatLeft">
                                        <div id="reinforcementTroopIconMultiplayer-static" inject-svg src="assets/troopIcons/soldier.svg"></div>
                                    </div>
                                    <span class="floatLeft paddingLeft">x{{ gameMultiplayer.troopsToDeploy }}</span>
                                </div>
                                <div data-ng-if="gameMultiplayer.troopsToDeploy === 0">
                                    <strong>No more reinforcements!</strong>
                                </div>
                            </div>
                            <span data-ng-show="gameMultiplayer.turn.turnPhase == 1">
                                Attack phase
                            </span>
                            <span data-ng-show="gameMultiplayer.turn.turnPhase == 2">
                                Movement phase
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-3" style="line-height: 30px;">
                        <span id="nextButton"
                              data-ng-click="gameMultiplayer.nextTurn()"
                              data-ng-show="!gameMultiplayer.aiTurn"
                              data-ng-class="{'nextButton--disabled': gameMultiplayer.checkIfNextIsDisabled()}">
                                  <span>
                                      Next
                                  </span>
                              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="timerBar">
            <p data-ng-show="gameMultiplayer.secondsLeft">
                {{ gameMultiplayer.secondsLeft }}
            </p>
            <div id="timerBarInner" style="width: {{ gameMultiplayer.timerWidth }}px;">
            </div>
        </div>
        <div class="row">
           <div id="multiplayerMap" data-ng-class="{'endScreen': main.currentGamePhase === main.gamePhases.END_SCREEN_MULTIPLAYER}" inject-svg src="assets/maps/worldMap/worldMap.svg">
           </div>
        </div>
        <div id="lobbyChatBoxes">
            <div class="muteChatContainer">
                <div>
                    <div class="chatTab" data-ng-click="gameMultiplayer.switchChat(true)" data-ng-class="{'chatTab--active': gameMultiplayer.showLobbyChat}">
                        Lobby chat
                        <div class="unreadCount" data-ng-show="gameMultiplayer.unreadLobbyMessages > 0">
                            {{ gameMultiplayer.unreadLobbyMessages <= 99 ? gameMultiplayer.unreadLobbyMessages : '...' }}
                        </div>
                    </div>
                    <div class="chatTab" data-ng-click="gameMultiplayer.switchChat(false)" data-ng-class="{'chatTab--active': !gameMultiplayer.showLobbyChat}">
                        Global chat
                        <div class="unreadCount" data-ng-show="gameMultiplayer.unreadGlobalMessages > 0">
                            {{ gameMultiplayer.unreadGlobalMessages <= 99 ? gameMultiplayer.unreadGlobalMessages : '...' }}
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="button marginBottom" data-ng-click="gameMultiplayer.muteChat = !gameMultiplayer.muteChat" data-ng-class="{'button-green': gameMultiplayer.muteChat, 'button-red': !gameMultiplayer.muteChat}">
                        <span data-ng-show="gameMultiplayer.muteChat">Unmute chat</span>
                        <span class="glyphicon glyphicon-volume-up" data-ng-show="gameMultiplayer.muteChat"></span>
                        <span data-ng-show="!gameMultiplayer.muteChat">Mute chat</span>
                        <span class="glyphicon glyphicon-volume-off" data-ng-show="!gameMultiplayer.muteChat"></span>
                    </button>
                </div>
            </div>
            <div class="chatBox" data-ng-show="gameMultiplayer.showLobbyChat">
                <div class="chatMessagesContainer">
                    <div class="topShadowOverlay">
                    </div>
                    <div class="globalChatMessage" data-ng-repeat="message in gameMultiplayer.lobbyChatMessages">
                        <strong style="color: {{ message.color }};">{{ message.sender }}</strong> <span>({{ message.normalizedTime }})</span>: {{ message.message }}
                    </div>
                </div>
                <div class="senderBar">
                    <form action="" onsubmit="return false;">
                        <input type="text" data-ng-model="gameMultiplayer.lobbyChatMessage" placeholder="Type a message . . ." maxlength="{{ gameMultiplayer.chatMaxLengthMessage }}" ng-trim="false" />
                        <p class="charactersLeft">
                            {{ gameMultiplayer.charactersLeft() }}
                        </p>
                        <button type="submit" class="button button-blue" data-ng-click="gameMultiplayer.sendMessageLobby()" data-ng-disabled="gameMultiplayer.lobbyChatMessage.length === 0 || gameMultiplayer.disableSendButton">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
            </div>
            <div class="chatBox" data-ng-show="!gameMultiplayer.showLobbyChat">
                <div class="chatMessagesContainer">
                    <div class="topShadowOverlay">
                    </div>
                    <div class="globalChatMessage" data-ng-repeat="message in gameMultiplayer.globalChatMessages">
                        <strong style="color: {{ message.color }};">{{ message.creator }}</strong> <span>({{ message.normalizedTime }})</span>: {{ message.message }}
                    </div>
                </div>
                <div class="senderBar">
                    <form action="" onsubmit="return false;">
                        <input type="text" data-ng-model="gameMultiplayer.globalChatMessage" placeholder="Type a message . . ." maxlength="{{ gameMultiplayer.chatMaxLengthMessage }}" ng-trim="false" />
                        <p class="charactersLeft">
                            {{ gameMultiplayer.charactersLeft() }}
                        </p>
                        <button type="submit" class="button button-blue" data-ng-click="gameMultiplayer.sendMessageGlobal()" data-ng-disabled="gameMultiplayer.globalChatMessage.length === 0 || gameMultiplayer.disableSendButton">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>