<div
    class="container"
    id="multiplayerContainer"
    data-ng-controller="gameControllerMultiplayer as gameMultiplayer"
    data-ng-show="main.currentGamePhase == main.gamePhases.GAME_MULTIPLAYER"
>
    <div data-ng-show="main.currentGamePhase == main.gamePhases.GAME_MULTIPLAYER" ng-cloak>
        <div class="row" id="topBar">
            <div class="col-xs-4 textCenter" style="padding-left:0px; padding-top:6px;">
                <div class="col-xs-3">
                    <div style="position: absolute; z-index: 1000; top: -91px; left: -110px; transform: scale(0.5);">
                        <div class="setupBoxAvatarsContainer__item" style="margin-top: 0px;">
                            <div
                                id="currentPlayerPortraitMultiplayer"
                                player-portrait
                                avatar="gameMultiplayer.turn.player.avatar"
                                class="box-shadow setupBoxAvatarsContainer__item__portrait"
                                style="background-color: {{ gameMultiplayer.turn.player.color.borderColor  }};
                                       border-color: {{ gameMultiplayer.turn.player.color.mainColor }};">

                                <div class="setupBoxAvatarsContainer__item__portrait__svg" data-ng-show="!gameMultiplayer.turn.player.avatar.customCharacter">
                                </div>
                                <div class="setupBoxAvatarsContainer__item__portrait__svgCustom" data-ng-show="gameMultiplayer.turn.player.avatar.customCharacter">
                                </div>
                            </div>
                            <div class="setupBoxAvatarsContainer__item__flag">
                                <waving-flag flag-width="90" flag-height="50" flag-url="gameMultiplayer.turn.player.avatar.flag"></waving-flag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9" style="padding-left: 50px; padding-right: 0px;">
                    <div class="col-xs-12" style="padding: 0px;">
                        <span style="float: left; color: white;">Current player:</span>
                        <strong id="playerName" class="floatLeft text-shadow" style="margin-bottom: 5px; clear: both; letter-spacing: -2px; line-height: 30px; color: {{ gameMultiplayer.getCurrentPlayerColor() }}"><span data-ng-bind="gameMultiplayer.turn.player.name"></span></strong>
                    </div>
                    <div class="col-xs-12" style="padding: 0px; height: 80px; min-height: 80px; max-height: 80px;">
                        <div
                            class="floatLeft cardContainer"
                            data-ng-disabled="gameMultiplayer.turn.turnPhase !== 0"
                            data-ng-click="gameMultiplayer.turnInCards()"
                            data-ng-show="gameMultiplayer.turn.player.cards.length > 0"
                            data-ng-class="{'fakeLink': gameMultiplayer.turn.turnPhase === 0, 'notMyTurn': !gameMultiplayer.isMyTurn() }"
                            uib-tooltip="These are the cards you currently have on hand. Click to turn in if in deployment phase."
                            tooltip-placement="bottom"
                        >
                            <div class="marginLeft" style="pointer-events: none; pointer-events: none; height: 40px;">
                                <div class="card small"
                                data-ng-repeat="card in gameMultiplayer.turn.player.cards track by $index"
                                data-territory-name="{{card.name}}"
                                data-region-name="{{card.regionName}}">
                                    <span data-ng-show="gameMultiplayer.turn.player.type === gameMultiplayer.PLAYER_TYPES.HUMAN">
                                        <span id="cardTroopIconCannon{{ $index }}" data-ng-show="card.cardType === gameMultiplayer.CARD_TYPE.CANNON" class="troopIcon cannon" inject-svg src="assets/troopIcons/cannon.svg">
                                        </span>
                                        <span id="cardTroopIconHorse{{ $index }}" data-ng-show="card.cardType === gameMultiplayer.CARD_TYPE.HORSE" class="troopIcon horse" inject-svg src="assets/troopIcons/horse.svg">
                                        </span>
                                        <span id="cardTroopIconSoldier{{ $index }}" data-ng-show="card.cardType === gameMultiplayer.CARD_TYPE.TROOP" class="troopIcon troop" inject-svg src="assets/troopIcons/soldier.svg">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="gameMultiplayer.turn.player.cards.length === 0" class="floatLeft marginTop">
                            No cards on hand
                        </div>
                        <h4 class="floatLeft colorWhite" style="clear: left;" data-ng-show="gameMultiplayer.currentOwnagePercentage">
                            <span data-ng-show="gameMultiplayer.chosenGoal !== 100">
                                Currently controlling <strong>{{ gameMultiplayer.currentOwnagePercentage }}/{{ gameMultiplayer.chosenGoal }}%</strong>
                            </span>
                            <span data-ng-show="gameMultiplayer.chosenGoal === 100">
                                Currently controlling <strong>{{ gameMultiplayer.currentOwnagePercentage }}%</strong>
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="filters" class="paddingTop--double paddingBottom--double col-xs-4 textCenter" style="padding-right:0px;">
                <div class="buttonGroup">
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': gameMultiplayer.filter === 'byOwner'}" id="showByOwner" data-ng-click="gameMultiplayer.filterByOwner()">
                        <strong>Color by owner</strong>
                    </button>
                    <button type="button" class="button button-blue" data-ng-class="{'filter-selected': gameMultiplayer.filter === 'byRegion'}" id="showByRegion" data-ng-click="gameMultiplayer.filterByRegion()" data-ng-class="{'active': gameMultiplayer.filter == 'byRegion'}">
                        <strong>Color by region</strong>
                    </button>
                    <button type="button" class="button button-purple" data-ng-click="gameMultiplayer.pause()" style="width: 46px; height: 34px;" data-ng-show="gameMultiplayer.aiTurn">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.NOT_PAUSED"></span>
                        <span data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.PAUSING">{{ gameMultiplayer.pausingDots }}</span>
                        <span class="glyphicon glyphicon-play" aria-hidden="true" data-ng-show="gameMultiplayer.gamePaused === gameMultiplayer.pauseModes.PAUSED"></span>
                    </button>
                    <button type="button" class="button button-green" data-ng-click="gameMultiplayer.openMenu()" style="height: 34px;">
                        MENU
                    </button>
                </div>
                <h4 class="colorWhite">Turn number <strong data-ng-bind="gameMultiplayer.turn.turnNumber"></strong></h4>
            </div>
            <div class="col-xs-4 paddingTop--double colorWhite" id="turnInfo">
                <div class="row">
                    <div class="col-xs-9" style="line-height: 40px;" id="currentPhaseIndicator">
                        <div>
                            <div class="phaseIndicator">
                                <h3 style="margin-top: 0;" data-ng-show="gameMultiplayer.turn.turnPhase == 0">
                                    Deployment phase
                                </h3>
                                <h3 style="margin-top: 0;" data-ng-show="gameMultiplayer.turn.turnPhase == 1">
                                    Attack phase
                                </h3>
                                <h3 style="margin-top: 0;" data-ng-show="gameMultiplayer.turn.turnPhase == 2">
                                    Movement phase
                                </h3>
                                <div class="stepsContainer">
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': gameMultiplayer.turn.turnPhase == 0, 'done': gameMultiplayer.turn.turnPhase != 0}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': gameMultiplayer.turn.turnPhase == 1, 'done': gameMultiplayer.turn.turnPhase > 1, 'futureStep': gameMultiplayer.turn.turnPhase < 1}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                    <div class="orbContainer">
                                        <div class="orb" data-ng-class="{'active': gameMultiplayer.turn.turnPhase == 2, 'done': gameMultiplayer.turn.turnPhase > 2, 'futureStep': gameMultiplayer.turn.turnPhase < 2}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="troop_{{ gameMultiplayer.turn.player.color.name }}" data-ng-show="gameMultiplayer.turn.turnPhase == 0" style="width: 300px; position: absolute;">
                                    <div class="textCenter" data-ng-if="gameMultiplayer.troopsToDeploy <= 12">
                                        <div style="display: inline-block;" class="mainTroopIndicator" data-ng-repeat="i in gameMultiplayer.toArray(gameMultiplayer.troopsToDeploy) track by $index">
                                            <div id="reinforcementTroopIconSingleplayer{{ $index }}" inject-svg src="assets/troopIcons/soldier2.svg"></div>
                                        </div>
                                    </div>
                                    <div data-ng-if="gameMultiplayer.troopsToDeploy > 12" class="textCenter" style="margin-top: -5px;">
                                        <div style="display: inline-block;">
                                            <div id="reinforcementTroopIconSingleplayer-static" inject-svg src="assets/troopIcons/soldier2.svg"></div>
                                        </div>
                                        <div style="display: inline-block; position: relative; font-size: 22px; top: -12px;">
                                            x{{ gameMultiplayer.troopsToDeploy }}
                                        </div>
                                    </div>
                                    <div class="textCenter" data-ng-if="gameMultiplayer.troopsToDeploy === 0">
                                        <strong>No more reinforcements!</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="line-height: 30px;">
                        <span id="nextButton"
                              data-ng-click="gameMultiplayer.nextTurn()"
                              data-ng-show="!gameMultiplayer.aiTurn"
                              data-ng-class="{'nextButton--disabled': gameMultiplayer.checkIfNextIsDisabled()}">
                                  <span>
                                      Next
                                  </span>
                              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="timerBar">
            <p data-ng-show="gameMultiplayer.secondsLeft">
                {{ gameMultiplayer.secondsLeft }}
            </p>
            <div id="timerBarInner" style="width: {{ gameMultiplayer.turn.player.type === 0 ? gameMultiplayer.timerWidth + 'px' : '100%' }}">
            </div>
        </div>
        <div class="row gameView">
            <div class="ownageChartContainer" uib-tooltip-html="gameMultiplayer.ownageChartTooltip" tooltip-placement="right">
                <canvas id="ownageChartMultiplayer" width="100" height="100"></canvas>
            </div>
            <div class="troopChartContainer" uib-tooltip-html="gameMultiplayer.troopChartTooltip" tooltip-placement="right">
                <canvas id="troopChartMultiplayer" width="100" height="100"></canvas>
            </div>
           <div id="multiplayerMap"
                data-ng-class="{'endScreen': main.currentGamePhase === main.gamePhases.END_SCREEN_MULTIPLAYER}"
                inject-svg src="assets/maps/worldMap/worldMap.svg">
           </div>
        </div>
        <div id="lobbyChatBoxes">
            <div class="muteChatContainer">
                <div>
                    <div class="chatTab" data-ng-click="gameMultiplayer.switchChat(true)" data-ng-class="{'chatTab--active': gameMultiplayer.showLobbyChat}">
                        Lobby chat
                        <div class="unreadCount" data-ng-show="gameMultiplayer.unreadLobbyMessages > 0">
                            {{ gameMultiplayer.unreadLobbyMessages <= 99 ? gameMultiplayer.unreadLobbyMessages : '...' }}
                        </div>
                    </div>
                    <div class="chatTab" data-ng-click="gameMultiplayer.switchChat(false)" data-ng-class="{'chatTab--active': !gameMultiplayer.showLobbyChat}">
                        Global chat
                        <div class="unreadCount" data-ng-show="gameMultiplayer.unreadGlobalMessages > 0">
                            {{ gameMultiplayer.unreadGlobalMessages <= 99 ? gameMultiplayer.unreadGlobalMessages : '...' }}
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="button marginBottom" data-ng-click="gameMultiplayer.muteChat = !gameMultiplayer.muteChat" data-ng-class="{'button-green': gameMultiplayer.muteChat, 'button-red': !gameMultiplayer.muteChat}" style="position: relative;">
                        <span data-ng-show="gameMultiplayer.muteChat">Unmute chat</span>
                        <span class="glyphicon glyphicon-volume-up" data-ng-show="gameMultiplayer.muteChat"></span>
                        <span data-ng-show="!gameMultiplayer.muteChat">Mute chat</span>
                        <span class="glyphicon glyphicon-volume-off" data-ng-show="!gameMultiplayer.muteChat"></span>
                    </button>
                </div>
            </div>
            <div class="chatBox" data-ng-show="gameMultiplayer.showLobbyChat">
                <div class="chatMessagesContainer">
                    <div class="topShadowOverlay">
                    </div>
                    <div class="globalChatMessage" data-ng-repeat="message in gameMultiplayer.lobbyChatMessages">
                        <strong style="color: {{ message.color }};">{{ message.sender }}</strong> <span>({{ message.normalizedTime }})</span>: {{ message.message }}
                    </div>
                </div>
                <div class="senderBar">
                    <form action="" onsubmit="return false;">
                        <input type="text" data-ng-model="gameMultiplayer.lobbyChatMessage" placeholder="Type a message . . ." maxlength="{{ gameMultiplayer.chatMaxLengthMessage }}" ng-trim="false" />
                        <p class="charactersLeft">
                            {{ gameMultiplayer.charactersLeft() }}
                        </p>
                        <button type="submit" class="button button-blue" data-ng-click="gameMultiplayer.sendMessageLobby()" data-ng-disabled="gameMultiplayer.lobbyChatMessage.length === 0 || gameMultiplayer.disableSendButton">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
            </div>
            <div class="chatBox" data-ng-show="!gameMultiplayer.showLobbyChat">
                <div class="chatMessagesContainer">
                    <div class="topShadowOverlay">
                    </div>
                    <div class="globalChatMessage" data-ng-repeat="message in gameMultiplayer.globalChatMessages">
                        <strong style="color: {{ message.color }};">{{ message.creator }}</strong> <span>({{ message.normalizedTime }})</span>: {{ message.message }}
                    </div>
                </div>
                <div class="senderBar">
                    <form action="" onsubmit="return false;">
                        <input type="text" data-ng-model="gameMultiplayer.globalChatMessage" placeholder="Type a message . . ." maxlength="{{ gameMultiplayer.chatMaxLengthMessage }}" ng-trim="false" />
                        <p class="charactersLeft">
                            {{ gameMultiplayer.charactersLeft() }}
                        </p>
                        <button type="submit" class="button button-blue" data-ng-click="gameMultiplayer.sendMessageGlobal()" data-ng-disabled="gameMultiplayer.globalChatMessage.length === 0 || gameMultiplayer.disableSendButton">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>