<div class="textCenter mainMenuBox" data-ng-hide="main.currentGamePhase === main.gamePhases.GAME || main.currentGamePhase === main.gamePhases.AI_TESTING || main.currentGamePhase === main.gamePhases.TUTORIAL || main.currentGamePhase === main.gamePhases.END_SCREEN || main.currentGamePhase === main.gamePhases.GAME_MULTIPLAYER">
    <div>
        <div class="logoContainer">
            <div id="mainLogo" inject-svg src="assets/logo.svg"></div>
        </div>
        <div class="createdBy">
            <span>{{ main.appVersion }}
            | Created by</span> <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a> | <a href="https://github.com/ToWelie89/TotalRisk" target="_blank">Source code</a>
        </div>
    </div>
</div>