<div data-ng-show="main.currentGamePhase == main.gamePhases.MAIN_MENU" class="textCenter mainMenuBox" ng-cloak>
    <div style="margin-top: 70px;
                width: 600px;
                margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 40px;">
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.PLAYER_SETUP)">
            <div class="main-menu-button-icon" id="newGameIcon" inject-svg src="assets/mainMenuIcons/newGame.svg">
            </div>
            <strong>Local Game</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.MULTIPLAYER_LOBBIES)">
            <div class="main-menu-button-icon" id="newGameIcon2" inject-svg src="assets/mainMenuIcons/newGame.svg">
            </div>
            <strong>Online Game</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.LEADERBOARD)">
            <div class="main-menu-button-icon" id="leaderboard" inject-svg src="assets/mainMenuIcons/leaderboard.svg">
            </div>
            <strong>Leaderboard</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.startTutorial()">
            <div class="main-menu-button-icon" id="tutorialIcon" inject-svg src="assets/mainMenuIcons/tutorial.svg">
            </div>
            <strong>Tutorial</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.CHARACTER_CREATOR)">
            <div class="main-menu-button-icon" id="characterEditorIcon" inject-svg src="assets/mainMenuIcons/editor.svg">
            </div>
            <strong>Character Editor</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.SETTINGS)">
            <div class="main-menu-button-icon" id="settingsIcon" inject-svg src="assets/mainMenuIcons/settings.svg">
            </div>
            <strong>Settings</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.quit()" data-ng-show="main.runningElectron">
            <div class="main-menu-button-icon" id="exitIcon" inject-svg src="assets/mainMenuIcons/exit.svg">
            </div>
            <strong>Exit</strong>
        </button>

        <button data-ng-show="main.devMode" data-ng-click="main.testEndScreen()">
            Test end screen (SP)
        </button>
        <button data-ng-show="main.devMode" data-ng-click="main.testEndScreen(true)">
            Test end screen (MP)
        </button>
        <button data-ng-show="main.devMode" data-ng-click="main.testAttackModal()">
            Test attack modal
        </button>
    </div>

    <div id="versionBox">
        <span>Version {{ main.appVersion }}</span>
    </div>
</div>