<div data-ng-if="main.currentGamePhase == main.gamePhases.MAIN_MENU" class="textCenter mainMenuBox" ng-cloak>

    <div id="patchNotesContainer" data-ng-show="main.currentPatchNotes">
        <div id="closeButton" data-ng-click="main.closePatchNotes()">
            <i class="fas fa-times-circle"></i>
        </div>

        <p id="title">
            Version {{main.currentPatchVersion}}
        </p>
        
        <div class="scrollable">
            <div id="patchNotesContainerDescription" data-ng-bind="main.currentPatchNotes.description"></div>
            <p class="header" data-ng-show="main.currentPatchNotes.news.length > 0">
                New features and improvements
            </p>
            <ul id="patchNotesContainerNews">
                <li class="newsItem" data-ng-repeat="news in main.currentPatchNotes.news">
                    <strong data-ng-bind="news.title" data-ng-show="news.title"></strong>
                    <br data-ng-show="news.title">
                    <span data-ng-bind="news.description"></span>
                    <ul ng-if="news.subPoints" style="padding-top: 10px; list-style-type: disc;">
                        <li class="newsItem" data-ng-repeat="p in news.subPoints">
                            {{ p }}
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="header" data-ng-show="main.currentPatchNotes.bugFixes.length > 0">
                Bug fixes
            </p>
            <ul id="patchNotesContainerBugFixes">
                <li class="newsItem" data-ng-repeat="bugFix in main.currentPatchNotes.bugFixes">
                    <strong data-ng-bind="bugFix.title" data-ng-show="bugFix.title"></strong>
                    <br data-ng-show="bugFix.title">
                    <span data-ng-bind="bugFix.description"></span>
                </li>
            </ul>
            <a href="javascript: void(0)" data-ng-click="main.setGamePhase(main.gamePhases.PATCH_LOG)">
                Read older patch notes
            </a>
        </div>
    </div>
    <div style="margin-top: 70px;
                width: 600px;
                margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 40px;">
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.startNewLocalGame()">
            <div class="main-menu-button-icon" id="newGameIcon" inject-svg src="assets/mainMenuIcons/newGame.svg">
            </div>
            <strong>Local Game</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.MULTIPLAYER_LOBBIES)">
            <div class="main-menu-button-icon" id="newGameIcon2" inject-svg src="assets/mainMenuIcons/newGameMp.svg">
            </div>
            <strong>Online Game</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.LEADERBOARD)">
            <div class="main-menu-button-icon" id="leaderboard" inject-svg src="assets/mainMenuIcons/leaderboard.svg">
            </div>
            <strong>Leaderboard</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.startTutorial()">
            <div class="main-menu-button-icon" id="tutorialIcon" inject-svg src="assets/mainMenuIcons/tutorial.svg">
            </div>
            <strong>Tutorial</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.CHARACTER_CREATOR)">
            <div class="main-menu-button-icon" id="characterEditorIcon" inject-svg src="assets/mainMenuIcons/editor.svg">
            </div>
            <strong>Character Editor</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.CHARACTER_GALLERY)">
            <div class="main-menu-button-icon" id="galleryIcon" inject-svg src="assets/mainMenuIcons/gallery.svg">
            </div>
            <strong>Character Gallery</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.SETTINGS)">
            <div class="main-menu-button-icon" id="settingsIcon" inject-svg src="assets/mainMenuIcons/settings.svg">
            </div>
            <strong>Settings</strong>
        </button>
        <button type="button" class="button button-green main-menu-button" data-ng-click="main.quit()" data-ng-show="main.runningElectron">
            <div class="main-menu-button-icon" id="exitIcon" inject-svg src="assets/mainMenuIcons/exit.svg">
            </div>
            <strong>Exit</strong>
        </button>

        <button data-ng-show="main.devMode" data-ng-click="main.testEndScreen()">
            Test end screen (SP)
        </button>
        <button data-ng-show="main.devMode" data-ng-click="main.testEndScreen(true)">
            Test end screen (MP)
        </button>
        <button data-ng-show="main.devMode" data-ng-click="main.testAttackModal()">
            Test attack modal
        </button>
        <button data-ng-show="main.devMode" data-ng-click="main.testMovementModal()">
            Test movement modal
        </button>
        <div id="mapBackgroundForTestingMovement" style="width: 820px; position: absolute; top: 870px; left: 610px; background-color: #9797ef;">
        </div>
    </div>

    <div id="versionBox">
        <span>BETA Version {{ main.appVersion }}</span>
    </div>
</div>