<div class="phaseIndicator">
    <h3>
        Deployment phase
    </h3>
    <div class="stepsContainer">
        <div class="orbContainer">
            <div class="orb done">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
        <div class="orbContainer">
            <div class="orb active">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
        <div class="orbContainer">
            <div class="orb futureStep">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
    </div>
</div>