<div data-ng-show="main.currentGamePhase == main.gamePhases.SETTINGS" class="textCenter mainMenuBox" data-ng-controller="settingsController as settings" ng-cloak>
    <div class="backButtonContainer">
        <button type="button" class="button button-green" data-ng-click="main.setGamePhase(main.gamePhases.MAIN_MENU)">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </div>
    <div id="settingsBox" style="margin-top: 70px;
                                 width: 100%;
                                 margin: 0 auto;
                                 padding-top: 30px;
                                 padding-bottom: 40px;
                                 background: rgba(59, 59, 59, 0.788235294117647);
                                 border-radius: 30px;">
        <div class="row paddingLeft--double paddingRight--double" data-ng-show="!settings.runningElectron">
            <strong style="color: white;">
                The settings that you configure here will be automatically saved to your browsers local storage so that you don't have to reset them everytime.
            </strong>
        </div>

        <div class="row" style="width: 600px; margin: 0 auto; margin-top: 30px;">
            <div class="col-xs-12 textLeft colorWhite" style="font-size: 20px;">
                <div>
                    <strong>Gameplay settings</strong>
                </div>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    AI Speed
                </div>
            </div>
            <div class="col-xs-8">
                <rzslider rz-slider-model="settings.aiSpeed" rz-slider-options="settings.movementSliderOptions"></rzslider>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    Show announcer <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                     data-placement="bottom" title="If turned on each turn will be presented by a announcer." style="color: #f0f048;"></span>
                </div>
            </div>
            <div class="col-xs-8 settingContainer" data-toggle="buttons">
                <div>
                    <label class="switch" data-ng-click="settings.toggleAnnouncer()">
                        <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.showAnnouncer">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="settings.runningElectron" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    Full Screen
                </div>
            </div>
            <div class="col-xs-8 settingContainer" data-toggle="buttons">
                <div>
                    <label class="switch" data-ng-click="settings.toggleFullScreen()">
                        <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.fullScreen">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto; margin-top: 30px;">
            <div class="col-xs-12 textLeft colorWhite" style="font-size: 20px;">
                <div>
                    <strong>Sound settings</strong>
                </div>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    Play sound
                </div>
            </div>
            <div class="col-xs-8 settingContainer" data-toggle="buttons">
                <div>
                    <label class="switch" data-ng-click="settings.toggleSound()">
                        <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.playSound">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    Music volume
                </div>
            </div>
            <div class="col-xs-8">
                <rzslider rz-slider-model="settings.musicVolume" rz-slider-options="settings.musicVolumeSliderOptions"></rzslider>
            </div>
        </div>
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-xs-4">
                <div>
                    Sound effects volume
                </div>
            </div>
            <div class="col-xs-8">
                <rzslider rz-slider-model="settings.sfxVolume" rz-slider-options="settings.sfxVolumeSliderOptions"></rzslider>
            </div>
        </div>
        <div data-ng-show="settings.runningElectron">
            <div class="row" style="width: 600px; margin: 0 auto; margin-top: 30px;">
                <div class="col-xs-12 textLeft colorWhite" style="font-size: 20px;">
                    <div>
                        <strong>Proxy settings</strong>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 600px; margin: 0 auto;">
                <div class="col-xs-4">
                    <div style="vertical-align: top; padding-top: 10px;">
                        Host and port
                    </div>
                </div>
                <div class="col-xs-8">
                    <input type="text" placeholder="Host:port" style="width: 100%;" class="floatLeft" data-ng-model="settings.proxySettings.host" data-ng-change="settings.updateProxySettings()" />
                </div>
            </div>
            <div class="row" style="width: 600px; margin: 0 auto;">
                <div class="col-xs-4">
                    <div style="vertical-align: top; padding-top: 10px;">
                        Proxy username
                    </div>
                </div>
                <div class="col-xs-8">
                    <input type="text" placeholder="Username" style="width: 100%;" class="floatLeft" data-ng-model="settings.proxySettings.username" data-ng-change="settings.updateProxySettings()" />
                </div>
            </div>
            <div class="row" style="width: 600px; margin: 0 auto;">
                <div class="col-xs-4">
                    <div style="vertical-align: top; padding-top: 10px;">
                        Proxy password
                    </div>
                </div>
                <div class="col-xs-8">
                    <input type="text" placeholder="Password" style="width: 100%;" class="floatLeft" data-ng-model="settings.proxySettings.password" data-ng-change="settings.updateProxySettings()" />
                </div>
            </div>
        </div>
    </div>
</div>