.troopIcon {
	svg {
		width: 60px;
		height: 60px;
	}
	&.troop {
		svg {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}

.troop_Red {
	path, rect, polygon {
		fill: @redPlayer;
	}
}
.troop_Green {
	path, rect, polygon {
		fill: @greenPlayer;
	}
}
.troop_Blue {
	path, rect, polygon {
		fill: @bluePlayer;
	}
}
.troop_Pink {
	path, rect, polygon {
		fill: @pinkPlayer;
	}
}
.troop_Black {
	path, rect, polygon {
		fill: @blackPlayer;
	}
}
.troop_Yellow {
	path, rect, polygon {
		fill: @yellowPlayer;
	}
}

.troop_Purple {
	path, rect, polygon {
		fill: @purplePlayer;
	}
}