.tooltip {
    opacity: 1 !important;
}

.tooltip-inner {
    max-width: 350px !important;
    font-size: 16px;
    padding: 10px;
}

.standardTooltip {
    padding: 0;
    .tooltip-inner {
        padding: 15px;
        font-size: 22px;
    }
}

.mapControlTooltip {
    padding: 10px;
    h3 {
        padding: 0;
        margin: 0;
        font-size: 22px;
        margin-bottom: 5px;
    }

    &__colorBox {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    &__nameBox {
        font-size: 15px;
        display: inline-block;
    }
}

.mapTooltipSvgContainer {
    background-color: #5397d1;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.46);
    border-radius: 10px;

    svg {
        pointer-events: none;
        .troopCounter, .troopCounterText, text {
            display: none;
        }
        text {
            display: none;
        }
    }
}

.warningTooltipTop {
    .tooltip-arrow {
        border-bottom-color: #b41f1f !important;
    }
    .tooltip-inner {
        background-color: #b41f1f;

        .warningTooltip {
            padding: 10px;

            p {
                font-size: 18px;
            }
        }
    }
}

.setupBoxAvatarsContainer__item__name, #onlineUsersList {
    .tooltip {
        opacity: 1;

        .tooltip-inner {
            bottom: 0;
            margin-left: 0;
            width: 300px;
            //-webkit-clip-path: polygon(34% 4%, 44% 28%, 100% 36%, 100% 89%, 93% 100%, 46% 100%, 7% 100%, 0 90%, 0 33%, 4% 4%);
            //clip-path: polygon(34% 4%, 44% 28%, 100% 36%, 100% 89%, 93% 100%, 46% 100%, 7% 100%, 0 90%, 0 33%, 4% 4%);
            background: url(https://images-na.ssl-images-amazon.com/images/I/41K1FSmrUUL._SY450_.jpg);

            .playerTooltip {
                position: static;
                padding: 0px;
                margin-left: 0px;
                width: 100%;
                color: black !important;
                text-shadow: none;

                .lds-ring {
                    position: relative;
                    width: 64px;
                    height: 64px;
                    margin: 0 auto;
                    padding: 0;
                    bottom: 0px;
                    display: inline-block;

                    div {
                        bottom: 0px;
                        padding: 0;
                    }
                }

                p {
                    text-align: left;
                    font-size: 14px;
                    margin-top: 15px;
                    padding: 5px;
                    font-weight: 400;
                }

                .flag {
                    position: static;
                    margin-left: 0px;
                    padding: 0px;
                    margin-top: 10px;
                    margin-left: 5px;

                    .flag-element {
                        padding: 0 !important;
                        position: relative !important;
                        width: 2px !important;
                        margin-left: 0 !important;
                        bottom: 0px !important;
                    }
                }
            }
        }
    }
}

