<div data-ng-init="cardTurnIn.init()">
    <div id="cardTurnInModal" class="riskModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body textCenter">
                        <div class="row marginBottom--double" style="margin-top: 50px;">
                            <div class="col-xs-12">
                                <div class="card"
                                     data-ng-repeat="card in cardTurnIn.cards"
                                     data-territory-name="{{card.name}}"
                                     data-region-name="{{card.regionName}}"
                                     data-ng-class="{'card__selected': card.isSelected}"
                                     data-ng-click="cardTurnIn.toggleCardSelection(card)">
                                        <span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.CANNON" class="troopIcon cannon">
                                                @@cannonSvg
                                            </span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.HORSE" class="troopIcon horse">
                                                @@horseSvg
                                            </span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.TROOP" class="troopIcon troop">
                                                @@troopSvg
                                            </span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" data-ng-show="cardTurnIn.illegalCombination()">
                                <h4>
                                    Illegal card combination, try again.
                                </h4>
                            </div>
                            <div class="col-xs-12" data-ng-show="cardTurnIn.currentCardCombination">
                                <h4>
                                    Chosen combination worth <strong data-ng-bind="cardTurnIn.currentCardCombination.value"></strong> reinforcements
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="button button-blue" data-ng-click="cardTurnIn.cancel()" data-ng-disabled="cardTurnIn.playerMustTurnIn">
                                    <i class="fa fa-times"></i>
                                    <strong>Cancel</strong>
                                </button>
                                <button type="button" class="button button-blue" data-ng-click="cardTurnIn.autoSelect()">
                                    <i class="fa fa-times"></i>
                                    <strong>Autoselect best combination</strong>
                                </button>
                                <button type="button" class="button button-blue" data-ng-click="cardTurnIn.turnIn()" data-ng-disabled="!cardTurnIn.currentCardCombination">
                                    <i class="fa fa-times"></i>
                                    <strong>Turn in</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>