<div data-ng-init="cardTurnIn.init()">
    <div id="cardTurnInModal" class="modal riskModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body textCenter">
                        <div class="row marginBottom--double" style="margin-top: 50px;">
                            <div class="col-xs-12">
                                <div class="card"
                                     data-ng-repeat="card in cardTurnIn.cards"
                                     data-territory-name="{{card.name}}"
                                     data-region-name="{{card.regionName}}"
                                     data-ng-class="{'card__selected': card.isSelected}"
                                     data-ng-click="cardTurnIn.toggleCardSelection(card)">
                                        <span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.CANNON" class="troopIcon cannon">
                                                @@cannonSvg
                                            </span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.HORSE" class="troopIcon horse">
                                                @@horseSvg
                                            </span>
                                            <span data-ng-show="card.cardType === cardTurnIn.CARD_TYPE.TROOP" class="troopIcon troop">
                                                @@troopSvg
                                            </span>
                                        </span>
                                </div>
                            </div>
                            <div data-ng-show="cardTurnIn.illegalCombination()">
                                <h1>
                                    Illegal card combination, try again.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>