<div>
    <div id="characterSelectionModal" class="riskModal" role="dialog" data-backdrop="static">
        <!-- Modal content-->
        <div class="modal-body textCenter">
            <div class="row" style="width: 800px; margin: 0 auto;">
                <h2>
                    Character Selection
                </h2>
            </div>
            <div class="row" style="width: 800px; height: 300px; margin: 0 auto; padding: 10px;">
                <!-- <div style="float: left; width: 50%;">
                    <h3 data-ng-bind="characterSelection.currentSelectedPlayer.name"></h3>
                    <p class="characterBio" data-ng-bind="characterSelection.currentSelectedPlayer.avatar.biography" data-ng-show="characterSelection.currentSelectedPlayer"></p>
                </div> -->
                <div style="float: left; width: 100%;">
                    <div id="characterSelectionFlag" class="marginBottom" data-ng-show="characterSelection.currentSelectedPlayer" style="position: absolute; top: 100px; z-index: 1;">
                        <waving-flag flag-width="400" flag-height="200" flag-url="characterSelection.currentSelectedPlayer.avatar.flag" update-manually="true"></waving-flag>
                    </div>
                    <img data-ng-show="characterSelection.currentSelectedPlayer && !characterSelection.currentSelectedPlayer.avatar.svg && !characterSelection.currentSelectedPlayer.avatar.customCharacter" id="selectedCharacterPortrait" ng-src="{{ characterSelection.currentSelectedPlayer ? characterSelection.currentSelectedPlayer.avatar.picture : '' }}" style="width: 200px; height: 200px;" />

                    <div id="selectedCharacterSvg" data-ng-show="characterSelection.currentSelectedPlayer && (characterSelection.currentSelectedPlayer.avatar.svg || characterSelection.currentSelectedPlayer.avatar.customCharacter)" style="position: relative; z-index: 2;">
                    </div>
                </div>
                <h4 style="position: relative;
                            z-index: 2;
                            bottom: 100px;
                            color: #c19898;
                            font-size: 54px;
                            font-weight: bold;
                            text-shadow: 0 0 10px black;" data-ng-show="characterSelection.currentSelectedPlayer" data-ng-bind="characterSelection.currentSelectedPlayer.name"></h4>
            </div>
            <div class="row textCenter" style="width: 800px; margin: 0 auto;">
                <button type="button" class="button button-green large"  data-ng-click="characterSelection.ok()" data-ng-disabled="!characterSelection.currentSelectedPlayer">
                    Select
                </button>
            </div>
            <div class="row selectableAvatars">
                <div data-ng-repeat="avatar in characterSelection.avatars" class="selectableAvatars__item">
                    <img ng-src="{{ avatar.picture }}"
                         data-ng-if="!avatar.customCharacter"
                         data-ng-click="characterSelection.selectAvatar(avatar)"
                         data-ng-dblclick="characterSelection.selectAvatarAndClose(avatar)"
                         data-ng-class="{'selectableAvatars__item--selected': characterSelection.avatarIsSelected(avatar),
                                         'selectableAvatars__item--taken': characterSelection.avatarIsTaken(avatar)}" />
                     <div character="{{ avatar.id }}"
                          style="background-color: {{ avatar.bgColor }}"
                          data-ng-if="avatar.customCharacter"
                          data-ng-click="characterSelection.selectAvatar(avatar)"
                          data-ng-dblclick="characterSelection.selectAvatarAndClose(avatar)"
                          data-ng-class="{'selectableAvatars__item--selected': characterSelection.avatarIsSelected(avatar),
                                          'selectableAvatars__item--taken': characterSelection.avatarIsTaken(avatar)}">
                          @@customCharacterSvg
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>