<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/img/icon.ico">
    <title>Risk</title>

    <!-- Fix for electron -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script>
        const electron = require('electron');
    </script>

    <script src='js/libs/responsivevoice.js'></script>
    <script src='js/libs/three.min.js'></script>
    <script src='js/libs/cannon.min.js'></script>
    <script src='js/libs/dice.js'></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="build/app.bundle.js"></script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>

    <!-- Fix for electron -->
    <script>if (window.module) module = window.module;</script>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="node_modules/angularjs-slider/dist/rzslider.css">
    <link href="cssLibs/animate.css" rel="stylesheet" type="text/css">
    <link href="cssLibs/csshake.css" rel="stylesheet" type="text/css">
    <link href="build/default.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body ng-app="risk" data-ng-controller="mainController as main" data-ng-class="{'endScreen': main.currentGamePhase === main.gamePhases.END_SCREEN}">
    <div class="wrapper mainWrapper">
        <div class="container mainContent">
            <div data-ng-show="main.currentGamePhase == main.gamePhases.MAIN_MENU" class="textCenter mainMenuBox">
                <div style="margin-bottom: 60px;">
                    <h1 class="pulsate paddingTop--double banner">
                        Risk
                    </h1>
                    <div class="createdBy">
                        {{ main.appVersion }}
                        | Created by <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a> | <a href="https://github.com/ToWelie89/ECMA6Risk" target="_blank">Source code</a>
                    </div>
                </div>
                <div style="margin-top: 70px;
                            width: 600px;
                            margin: 0 auto;
                            padding-top: 30px;
                            padding-bottom: 40px;
                            background: rgba(59, 59, 59, 0.788235294117647);
                            border-radius: 30px;">
                    <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.PLAYER_SETUP)">
                        <strong>New Game</strong>
                    </button>
                    <button type="button" class="button button-green main-menu-button" data-ng-disabled="true">
                        <strong>Load Game</strong>
                    </button>
                    <button type="button" class="button button-green main-menu-button" data-ng-click="main.setGamePhase(main.gamePhases.SETTINGS)">
                        <strong>Settings</strong>
                    </button>
                </div>
            </div>
            <div data-ng-show="main.currentGamePhase == main.gamePhases.SETTINGS" class="textCenter mainMenuBox" data-ng-controller="settingsController as settings">
                <div style="margin-bottom: 60px;">
                    <h1 class="pulsate paddingTop--double banner">
                        Risk
                    </h1>
                    <div class="createdBy">
                        {{ main.appVersion }}
                        | Created by <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a> | <a href="https://github.com/ToWelie89/ECMA6Risk" target="_blank">Source code</a>
                    </div>
                </div>
                <div id="settingsBox" style="margin-top: 70px;
                                             width: 600px;
                                             margin: 0 auto;
                                             padding-top: 30px;
                                             padding-bottom: 40px;
                                             background: rgba(59, 59, 59, 0.788235294117647);
                                             border-radius: 30px;">

                    <div class="row">
                        <button type="button" class="button button-green" data-ng-click="main.setGamePhase(main.gamePhases.MAIN_MENU)">
                            <strong><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to main menu</strong>
                        </button>
                    </div>

                    <div class="row paddingLeft--double paddingRight--double">
                        <strong style="color: white;">
                            The settings that you configure here will be automatically saved to your browsers local storage so that you don't have to reset them everytime.
                        </strong>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                AI Speed
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <rzslider rz-slider-model="settings.aiSpeed" rz-slider-options="settings.movementSliderOptions"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Play sound
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleSound()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.playSound">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                Show announcer <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                 data-placement="bottom" title="If turned on each turn will be presented by a announcer." style="color: #f0f048;"></span>
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleAnnouncer()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.showAnnouncer">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="settings.runningElectron">
                        <div class="col-xs-4">
                            <div>
                                Full Screen
                            </div>
                        </div>
                        <div class="col-xs-8 settingContainer" data-toggle="buttons">
                            <div>
                                <label class="switch" data-ng-click="settings.toggleFullScreen()">
                                    <input type="checkbox" class="switch-input" data-ng-checked="settings.settings.fullScreen">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="main.currentGamePhase == main.gamePhases.PLAYER_SETUP" data-ng-controller="gameSetupController as setup" data-ng-init="setup.init()">
                <div class="row mainMenuBox textCenter">
                    <h1 class="pulsate paddingTop--double banner">
                        Risk
                    </h1>
                    <div class="createdBy">
                        {{ main.appVersion }}
                        | Created by <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a> | <a href="https://github.com/ToWelie89/ECMA6Risk" target="_blank">Source code</a>
                    </div>
                </div>
                <div id="gameSetupBox">
                    <div class="row">
                        <div class="col-xs-12 textCenter marginTop--double">
                            <div style="position: absolute; left: 0px;">
                                <button type="button" class="button button-green" data-ng-click="main.setGamePhase(main.gamePhases.MAIN_MENU)">
                                    <strong><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to main menu</strong>
                                </button>
                            </div>
                            <div class="buttonGroup" style="height: 40px;">
                                <button type="button" class="button button-green button-unclickable">
                                    <strong>Map control percentage for victory</strong>
                                </button>
                                <button type="button" class="button button-green" data-ng-repeat="goal in setup.victoryGoals"
                                data-ng-class="{'button--selected': goal === setup.chosenGoal}" data-ng-click="setup.setGoal(goal)" data-ng-show="setup.players.length >= goal.requiredAmountOfPlayers">
                                    <strong data-ng-if="goal.type === 'mapControl'">{{goal.percentage}}%</strong>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row textCenter">
                        <div class="setupBoxAvatarsContainer">
                            <div data-ng-repeat="player in setup.players track by $index" class="setupBoxAvatarsContainer__item">
                                <div
                                    class="box-shadow setupBoxAvatarsContainer__item__portrait"
                                    style="background-image: url({{player.avatar.picture}});
                                           border-color: {{player.color.mainColor}};">
                                    <div class="setupBoxAvatarsContainer__item__portrait__inner" style="border-color: {{player.color.mainColor}};">
                                        <h2>CHANGE</h2>
                                    </div>
                                </div>
                                <div
                                    class="box-shadow setupBoxAvatarsContainer__item__name"
                                >
                                    <div style="background: {{player.color.mainColor}};" class="box-shadow" data-color="{{player.color.mainColor}}">
                                        <span style="border-color: {{setup.lightenDarkenColor(player.color.mainColor, -30)}}; border-left-color: transparent;"></span>
                                        <span>{{ player.name }}{{ (player.type !== 0) ? " (AI)" : "" }}</span>
                                        <span style="border-color: {{setup.lightenDarkenColor(player.color.mainColor, -30)}}; border-right-color: transparent;"></span>
                                    </div>
                                </div>
                                <div
                                    class="setupBoxAvatarsContainer__item__color box-shadow"
                                    style="background-color: {{player.color.mainColor}}; border-color: {{setup.lightenDarkenColor(player.color.mainColor, -50)}}"
                                    role="button"
                                    tabIndex="0"
                                    popover-placement="left"
                                    popover-title="Select a color"
                                    popover-trigger="'focus'"
                                    uib-popover-template="'src/popoverColorTemplate.html'"
                                    data-ng-controller="colorPopoverController as colorPopover"
                                    data-ng-init="colorPopover.init(player)"
                                >
                                    <i class="fas fa-paint-brush"></i>
                                </div>
                                <div
                                    class="setupBoxAvatarsContainer__item__type box-shadow"
                                    style="background-color: {{player.color.mainColor}}; border-color: {{setup.lightenDarkenColor(player.color.mainColor, -50)}}"
                                    role="button"
                                    tabIndex="0"
                                    popover-placement="left"
                                    popover-title="Select player type"
                                    popover-trigger="'focus'"
                                    uib-popover-template="'src/popoverPlayerTypeTemplate.html'"
                                    data-ng-controller="playerTypePopoverController as playerTypePopover"
                                    data-ng-init="playerTypePopover.init(player)"
                                >
                                    <i class="fas fa-user" data-ng-show="player.type === 0"></i>
                                    <i class="fas fa-desktop" data-ng-show="player.type !== 0"></i>
                                </div>
                                <div
                                    data-ng-class="{'setupBoxAvatarsContainer__item__delete--disabled': setup.players.length == setup.minPlayers}"
                                    class="setupBoxAvatarsContainer__item__delete box-shadow"
                                    style="background-color: {{player.color.mainColor}}; border-color: {{setup.lightenDarkenColor(player.color.mainColor, -50)}}"
                                    data-ng-click="setup.removePlayer(player)"
                                >
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                                <div class="setupBoxAvatarsContainer__item__flag" data-ng-show="player">
                                    <waving-flag flag-width="90" flag-height="50" flag-url="player.avatar.flag"></waving-flag>
                                </div>
                            </div>
                            <div data-ng-repeat="i in setup.getEmptyPlayerSlots() track by $index" class="setupBoxAvatarsContainer__item">
                                <div
                                    class="box-shadow setupBoxAvatarsContainer__item__portrait empty"
                                    data-ng-click="setup.addPlayer()"
                                >
                                    <div>
                                        <span class="glyphicon glyphicon-plus">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="false" class="row marginTop marginBottom form-group" data-ng-repeat="player in setup.players track by $index">
                        <div class="col-xs-2 text-shadow" style="text-align: right; margin-top: 22px;">
                            <div class="colorSelectorBox box-shadow" style="background-color: {{player.color.mainColor}};"
                            role="button" tabIndex="0" popover-placement="left" popover-title="Select a color" popover-trigger="'focus'" uib-popover-template="'src/popoverColorTemplate.html'" data-ng-controller="colorPopoverController as colorPopover" data-ng-init="colorPopover.init(player)" data-toggle="tooltip"
                                 data-placement="top" title="Select color of player">
                            </div>
                        </div>
                        <div class="col-xs-4" style="text-align: left; margin-top: 22px;">
                            <input placeholder="Choose a name" type="text" data-ng-model="player.name" class="form-control box-shadow" style="width: 100%;" />
                        </div>
                        <div class="col-xs-2" style="text-align: left; margin-top: 22px;">
                            <div class="dropdown" data-toggle="tooltip"
                                 data-placement="left" title="Select if the player should be AI or human controlled">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">
                                    <span data-ng-show="player.type === 0">
                                        Human
                                    </span>
                                    <span data-ng-show="player.type === 1">
                                        AI - Normal
                                    </span>
                                    <span data-ng-show="player.type === 2">
                                        AI - Expert
                                    </span>
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-ng-click="setup.choosePlayerType(player, 'HUMAN')">Human</a>
                                    </li>
                                    <li>
                                        <a href="#" data-ng-click="setup.choosePlayerType(player, 'AI_NORMAL')">AI - Normal</a>
                                    </li>
                                    <li>
                                        <a href="#" data-ng-click="setup.choosePlayerType(player, 'AI_EXPERT')">AI - Expert</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-3" style="text-align: left;">
                            <div class="avatarSelectorBox box-shadow" style="background-image: url({{player.avatar.picture}});"
                            role="button" tabIndex="0" popover-placement="left" popover-trigger="'focus'" popover-title="Select an avatar" uib-popover-template="'src/popoverAvatarTemplate.html'" data-ng-controller="avatarPopoverController as avatarPopover" data-ng-init="avatarPopover.init(player)" data-toggle="tooltip"
                                 data-placement="bottom" title="Select an avatar for the player">
                            </div>
                            <div class="avatarSelectorFlag">
                                <waving-flag flag-width="90" flag-height="50" flag-url="player.avatar.flag"></waving-flag>
                            </div>
                        </div>
                        <div class="col-xs-1" style="text-align: left; margin-top: 22px;">
                            <button type="button" class="button button-red" data-ng-click="setup.removePlayer(player)" data-ng-disabled="setup.players.length == setup.minPlayers" data-toggle="tooltip"
                                 data-placement="bottom" title="Remove player">
                                <i class="fa fa-times"></i>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row marginTop--double">
                        <div class="col-xs-12 textCenter gameSetupError" data-ng-show="setup.hasDuplicates()">
                            You are not allowed to have duplicate names.
                        </div>
                    </div>
                    <div class="row marginTop">
                        <div class="col-xs-12 textCenter gameSetupError" data-ng-show="setup.emptyNamesExists()">
                            Empty player names are not allowed.
                        </div>
                    </div>
                    <div class="row marginTop">
                        <div class="col-xs-12 textCenter gameSetupWarning" data-ng-show="setup.onlyAIsExists()">
                            Only AI players exists. Are you sure no human player wants to play?
                        </div>
                    </div>
                    <div class="row marginTop">
                        <div class="col-xs-12 textCenter">
                            <div class="buttonGroup">
                                <button type="button" class="button button-blue" data-ng-click="setup.addPlayer()" data-ng-disabled="setup.players.length == setup.maxPlayers" data-toggle="tooltip"
                                     data-placement="bottom" title="Add player">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="button button-green" data-ng-click="main.startTutorial()" data-toggle="tooltip"
                                     data-placement="bottom" title="Run tutorial">
                                    <strong>Tutorial</strong>
                                </button>
                                <button type="button" class="button button-green" data-ng-disabled="setup.startGameIsDisabled()" data-ng-click="main.startGame(setup.players, setup.chosenGoal)">
                                    <strong>Start</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- TESTING STUFF -->
                    <div class="row marginTop--double" data-ng-hide="true">
                        <div class="col-xs-12 textCenter">
                            <button type="button" class="button button-blue" data-ng-click="game.testAttackPhase(setup.players)">
                                <strong>Test battle modal</strong>
                            </button>
                            <button type="button" class="button button-blue" data-ng-click="game.testPresentationModal()">
                                <strong>Test presentation modal</strong>
                            </button>
                            <button type="button" class="button button-blue" data-ng-click="main.aiTester()">
                                <strong>AI tester</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mainContent" data-ng-controller="gameController as game"">
            <div data-ng-show="main.currentGamePhase == main.gamePhases.GAME || main.currentGamePhase == main.gamePhases.AI_TESTING || main.currentGamePhase == main.gamePhases.TUTORIAL || main.currentGamePhase == main.gamePhases.END_SCREEN" data-ng-class="{'gameScreenDuringVictory': main.currentGamePhase == main.gamePhases.END_SCREEN}">
                <div class="row" style="background: rgba(67, 64, 64, 0.6901960784313725);
                                        border-radius: 30px;
                                        border-bottom-left-radius: 60px; border-top-left-radius: 60px;">
                    <div class="col-xs-4 textCenter paddingTop--double " style="padding-left:0px;">
                        <div class="col-xs-3" id="mainTurnAvatar" style="background-image: url({{ game.turn.player.avatar.picture }});"></div>
                        <div class="col-xs-9">
                            <div class="col-xs-12" style="padding: 0px;">
                                <strong id="playerName" class="floatLeft text-shadow" style="letter-spacing: -2px; line-height: 30px; color: {{ game.getCurrentPlayerColor() }}"><span data-ng-bind="game.turn.player.name"></span></strong>
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <img src="assets/img/cards.png"
                                     id="cardButton"
                                     class="floatLeft"
                                     style="width: 30px;"
                                     data-ng-disabled="game.turn.turnPhase !== 0"
                                     data-ng-click="game.turnInCards()"
                                     data-ng-class="{'cardButton--disabled': game.aiTurn}"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     value="Open cards view" />
                                <h4 class="floatLeft marginLeft" id="cardCounter">({{game.turn.player.cards.length}})</h4>
                            </div>
                        </div>
                    </div>
                    <div id="filters" class="paddingTop--double paddingBottom--double col-xs-5 textCenter" style="padding-right:0px;">
                        <div class="buttonGroup">
                            <button type="button" class="button button-blue" id="showByOwner" data-ng-click="game.filterByOwner()">
                                <i class="fa fa-times"></i>
                                <strong>Color by owner</strong>
                            </button>
                            <button type="button" class="button button-blue" id="showByRegion" data-ng-click="game.filterByRegion()" data-ng-class="{'active': game.filter == 'byRegion'}">
                                <i class="fa fa-times"></i>
                                <strong>Color by region</strong>
                            </button>
                            <button type="button" class="button button-purple" data-ng-click="game.pause()" style="width: 46px; height: 34px;" data-ng-show="game.aiTurn">
                                <span class="glyphicon glyphicon-pause" aria-hidden="true" data-ng-show="game.gamePaused === game.pauseModes.NOT_PAUSED"></span>
                                <span data-ng-show="game.gamePaused === game.pauseModes.PAUSING">{{ game.pausingDots }}</span>
                                <span class="glyphicon glyphicon-play" aria-hidden="true" data-ng-show="game.gamePaused === game.pauseModes.PAUSED"></span>
                            </button>
                            <button type="button" class="button button-green" data-ng-click="game.openMenu()" style="height: 34px;">
                                MENU
                            </button>
                        </div>
                        <h4>Turn number <strong data-ng-bind="game.turn.turnNumber"></strong></h4>
                    </div>
                    <div class="col-xs-3 paddingTop--double " id="turnInfo">
                        <div class="row">
                            <div class="col-xs-9" style="line-height: 40px;" id="currentPhaseIndicator">
                                <div>
                                    <div data-ng-show="game.turn.turnPhase == 0" class="troop_{{ game.turn.player.color.name }}">
                                        <div class="floatLeft">Deployment phase <span data-ng-bind="game.troopsToDeploy"></span></div>
                                        <div class="floatLeft" id="mainTroopIndicator">@@troopSvg</div>
                                    </div>
                                    <span data-ng-show="game.turn.turnPhase == 1">
                                        Attack phase
                                    </span>
                                    <span data-ng-show="game.turn.turnPhase == 2">
                                        Movement phase
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3" style="line-height: 30px;">
                                <span id="nextButton"
                                      data-ng-click="game.nextTurn()"
                                      data-ng-show="!game.aiTurn"
                                      data-ng-class="{'nextButton--disabled': game.checkIfNextIsDisabled()}">
                                          <span>
                                              Next
                                          </span>
                                      </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div id="map" data-ng-class="{'endScreen': main.currentGamePhase === main.gamePhases.END_SCREEN}"
                     style="background: #5397d1;
                            border-radius: 30px;
                            margin-top: 20px;
                            box-shadow: 3px 3px 8px #202020;">
                       @@mapSvg
                   </div>
                </div>
                <div class="row">
                    <div id="currentTerritoryInfo">
                    </div>
                </div>
            </div>
            <div data-ng-show="main.currentGamePhase == main.gamePhases.END_SCREEN" id="victoryScreen">
                <div class="textCenter">
                    <h1>VICTORY</h1>
                    <h3 class="text-shadow" style="color: {{ game.playerWhoWon.color.mainColor }}">
                        {{ game.playerWhoWon.name }}
                    </h3>
                    <img id="victoryPortrait" class="marginTop--double" src="{{ game.playerWhoWon.avatar.picture }}" alt="">
                    <div id="victoryFlag" class='flag'></div>
                    <div style="margin-top: 90px;" data-ng-controller="endScreenTableController as endScreenTable">
                        <table id="endScreenTable">
                            <thead>
                                <tr>
                                    <th>Place</th>
                                    <th>Name</th>
                                    <th></th>
                                    <th class="textRight">Battles Won</th>
                                    <th class="textRight">Battles Lost</th>
                                    <th class="textRight">Retreats</th>
                                    <th class="textRight">Card combos used</th>
                                    <th class="textRight">Total reinforcements</th>
                                    <th class="textRight">Troops killed</th>
                                    <th class="textRight">Troops lost</th>
                                    <th class="textRight">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="player in endScreenTable.players">
                                    <td data-ng-bind="player.rank" class="textCenter"></td>
                                    <td data-ng-bind="player.name"></td>
                                    <td>
                                        <waving-flag flag-width="60" flag-height="35" flag-url="player.avatar.flag"></waving-flag>
                                    </td>
                                    <td data-ng-bind="player.statistics.battlesWon" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.battlesLost" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.retreats" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.cardCombinationsUsed" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.totalReinforcements" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.troopsKilled" class="textRight"></td>
                                    <td data-ng-bind="player.statistics.troopsLost" class="textRight"></td>
                                    <td>
                                        <span data-ng-show="player.dead">
                                            Dead (Turn {{ player.deadTurn }})
                                        </span>
                                        <span data-ng-show="!player.dead">
                                            Alive
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="button button-purple" data-ng-click="main.goBackToMenu()" style="margin-top: 100px;">
                        <strong>Back to Menu</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>