<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/img/icon.ico">
    <title>ECMA6 Risk</title>
    <script src='js/libs/responsivevoice.js'></script>
    <script src='js/libs/three.min.js'></script>
    <script src='js/libs/cannon.min.js'></script>
    <script src='js/libs/dice.js'></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="build/app.bundle.js"></script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="node_modules/angularjs-slider/dist/rzslider.css">
    <link href="cssLibs/animate.css" rel="stylesheet" type="text/css">
    <link href="cssLibs/csshake.css" rel="stylesheet" type="text/css">
    <link href="build/default.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
</head>

<body ng-app="risk">
    <header>
        <span id="sizeIndicator"></span>
        <div class="wrapper">
            <h1 class="pulsate">Risk</h1>
            <div class="createdBy paddingTop">
                Created by <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a> | <a href="https://github.com/ToWelie89/ECMA6Risk" target="_blank">Source code</a>
            </div>
        </div>
        <div class="smoke"></div>
    </header>
    <div class="wrapper mainWrapper" data-ng-controller="mainController as main">
        <div class="container mainContent" data-ng-controller="gameSetupController as setup" data-ng-init="setup.init()">
            <div data-ng-show="main.currentGamePhase == main.gamePhases.PLAYER_SETUP" id="gameSetupBox">
                <div class="row">
                    <div id="filters" class="col-xs-4" style="padding-right:0px;">
                        <button type="button" class="button" data-ng-click="main.toggleMusicVolume()" data-ng-class="{'button-green': main.playSound, 'button-red': !main.playSound}">
                            <i class="fa fa-times"></i>
                            <span class="glyphicon glyphicon-volume-off" aria-hidden="true" data-ng-show="!main.playSound"></span>
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true" data-ng-show="main.playSound"></span>
                        </button>
                    </div>
                </div>
                <div class="row marginTop marginBottom form-group" data-ng-repeat="player in setup.players track by $index">
                    <div class="col-xs-3 text-shadow" style="text-align: right; margin-top: 22px;">
                        <div class="colorSelectorBox box-shadow" style="background-color: {{player.color.mainColor}};"
                        role="button" tabIndex="0" popover-placement="left" popover-title="Select a color" popover-trigger="'focus'" uib-popover-template="'src/popoverColorTemplate.html'" data-ng-controller="colorPopoverController as colorPopover" data-ng-init="colorPopover.init(player)">
                        </div>
                    </div>
                    <div class="col-xs-5" style="text-align: left; margin-top: 22px;">
                        <input placeholder="Choose a name" type="text" data-ng-model="player.name" class="form-control box-shadow" style="width: 100%;" />
                    </div>
                    <div class="col-xs-1" style="text-align: left;">
                        <div class="avatarSelectorBox box-shadow" style="background-image: url({{player.avatar.picture}});"
                        role="button" tabIndex="0" popover-placement="left" popover-title="Select an avatar" popover-trigger="'focus'" uib-popover-template="'src/popoverAvatarTemplate.html'" data-ng-controller="avatarPopoverController as avatarPopover" data-ng-init="avatarPopover.init(player)">
                        </div>
                    </div>
                    <div class="col-xs-3" style="text-align: left; margin-top: 22px;">
                        <button type="button" class="button button-red" data-ng-click="setup.removePlayer(player)" data-ng-disabled="setup.players.length == setup.minPlayers">
                            <i class="fa fa-times"></i>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="row marginTop">
                    <div class="col-xs-12 textCenter" style="color: red;" data-ng-show="setup.hasDuplicates()">
                        You are not allowed to have duplicate names
                    </div>
                </div>
                <div class="row marginTop">
                    <div class="col-xs-12 textCenter" style="color: red;" data-ng-show="setup.emptyNamesExists()">
                        Empty player names are not allowed
                    </div>
                </div>
                <div class="row marginTop">
                    <div class="col-xs-12 textCenter">
                        <button type="button" class="button button-blue" data-ng-click="setup.addPlayer()" data-ng-disabled="setup.players.length == setup.maxPlayers">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="button button-green" data-ng-disabled="true">
                            <strong>Tutorial</strong>
                        </button>
                        <button type="button" class="button button-green" data-ng-disabled="setup.startGameIsDisabled()" data-ng-click="main.startGame(setup.players)">
                            <strong>Start</strong>
                        </button>
                    </div>
                </div>
                <!-- TESTING STUFF -->
                <div class="row marginTop">
                    <div class="col-xs-12 textCenter">
                        <button type="button" class="button button-blue" data-ng-click="main.testAttackPhase(setup.players)" data-ng-disabled="setup.players.length == setup.maxPlayers">
                            <strong>Test battle modal</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div data-ng-show="main.currentGamePhase == main.gamePhases.GAME">
                <div class="row">
                    <div id="filters" class="paddingBottom--double col-xs-4" style="padding-right:0px;">
                        <div class="btn-group">
                            <button type="button" class="button button-blue" id="showByOwner" data-ng-click="main.filterByOwner()">
                                <i class="fa fa-times"></i>
                                <strong>Color by owner</strong>
                            </button>
                            <button type="button" class="button button-blue" id="showByRegion" data-ng-click="main.filterByRegion()" data-ng-class="{'active': main.filter == 'byRegion'}">
                                <i class="fa fa-times"></i>
                                <strong>Color by region</strong>
                            </button>
                        </div>
                        <button type="button" class="button" data-ng-click="main.toggleMusicVolume()" data-ng-class="{'button-blue': main.playSound, 'button-red': !main.playSound}">
                            <i class="fa fa-times"></i>
                            <span class="glyphicon glyphicon-volume-off" aria-hidden="true" data-ng-show="!main.playSound"></span>
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true" data-ng-show="main.playSound"></span>
                        </button>
                    </div>
                    <div class="col-xs-4 textCenter" style="padding-left:0px;">
                        <div class="text-shadow" id="playerName" style="line-height: 30px; color: {{ main.getCurrentPlayerColor() }}">
                            <div class="turnAvatar" style="background-image: url({{ main.turn.player.avatar.picture }});"></div>
                            <strong class="floatLeft" style="padding-left: 15px;"><span data-ng-bind="main.turn.player.name"></span></strong>
                        </div>
                        <img src="assets/img/cards.png"
                             id="cardButton"
                             class="floatLeft marginLeft"
                             style="width: 30px;"
                             data-ng-disabled="main.turn.turnPhase !== 0"
                             data-ng-click="main.turnInCards()"
                             data-ng-disabled="main.turn.turnPhase != 0"
                             data-toggle="tooltip"
                             data-placement="bottom" />
                        <h4 class="floatLeft marginLeft" id="cardCounter">({{main.turn.player.cards.length}})</h4>
                    </div>
                    <div class="col-xs-4" id="turnInfo">
                        <div class="row">
                            <div class="col-xs-8" style="line-height: 40px;">
                                <div data-ng-show="main.turn.turnPhase == 0" class="troop_{{ main.turn.player.color.name }}">
                                    <div class="floatLeft">Deploy <span data-ng-bind="main.troopsToDeploy"></span></div>
                                    <div class="floatLeft" id="mainTroopIndicator">@@troopSvg</div>
                                </div>
                                <span data-ng-show="main.turn.turnPhase == 1">
                                    Attack
                                </span>
                                <span data-ng-show="main.turn.turnPhase == 2">
                                    Movement
                                </span>
                            </div>
                            <div class="col-xs-4" style="line-height: 30px;">
                                <button
                                type="button"
                                class="button button-green"
                                data-ng-click="main.nextTurn()"
                                data-ng-disabled="main.checkIfNextIsDisabled()"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                id="nextButton"
                                title="Go to next phase of the turn when you are done">
                                    <i class="fa fa-times"></i>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div id="map">
                       @@mapSvg
                   </div>
                </div>
                <div class="row">
                    <div id="currentTerritoryInfo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>