<div class="row">
    <div class="popoverBodyAvatarBox"
        data-ng-repeat="avatar in avatarPopover.avatars"
        style="background-image: url({{avatar.picture}});"
        data-ng-class="{'popoverBodyColorBox--chosen': player.avatar == avatar}"
        data-ng-click="setup.updateAvatarOfPlayer(avatarPopover.player, avatar)"
        role="button"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{avatarPopover.getNameOfAvatar(avatar)}}"
        ng-mouseleave="avatarPopover.mouseLeave()"
        ng-mouseover="avatarPopover.mouseEnter(avatar)"></div>
</div>
<div class="row">
    <div style="min-width: 250px; min-height: 250px; background: gainsboro;" data-ng-bind="avatarPopover.bioText">
    </div>
</div>


