@-webkit-keyframes wave{
	0% {	-webkit-transform:	translate3d(0,5%,0);}
	100% {	-webkit-transform:	translate3d(0,-5%,0);}
}
@keyframes wave{
	0% {	transform:	translate3d(0,5%,0);}
	100% {	transform:	translate3d(0,-5%,0);}
}

.flag {
	width: 200px;
	height: 125px;
	margin: 0 auto;
}
.flag-element {
	width: 2px;
	height: 100%;
	display: inline-block;
	position: relative;
	background-size: 200px 100%;
	-webkit-animation:	wave 0.6s ease-in-out infinite alternate;
	animation:			wave 0.6s ease-in-out infinite alternate;
}

.victoryScreen {
	background: #000000b5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/maps/globe_bg.jpg);
    transform: scale3d(1.01286, 1.01286, 1);
    background-size: cover;

    &__background {
    	.world {
    		.world-globe {
		        margin-top: 280px;

    		    .world-globe-pole {
    		        position: absolute;
    		        width: 530px;
    		        height: 530px;
    		        left: -265px;
    		        top: -265px;
    		        border-radius: 50% 50%;
    		        background-color: #fff;
    		    }

    		    .world-globe-doms-container {
    		        position: absolute;
    		        left: 50%;
    		        top: 50%;
    		        width: 0;
    		        height: 0;
    		    }

    		    .world-globe-halo {
    		        position: absolute;
    		        left: 50%;
    		        top: 50%;
    		        width: 730px;
    		        height: 715px;
    		        margin-left: -368px;
    		        margin-top: -350px;
    		    }
    		}
    	}
    }

    &__container {
    	background: #005210;
	    top: 500px;
	    position: relative;
	    z-index: 10;
	    width: 1600px;
	    margin-left: 5%;
	    text-align: center;
	    min-height: 600px;
	    margin: 0 auto;

        .endScreenTableContainer, .podium {
            position: relative;
            top: -202px;
        }

	    .podium {
            .podiumFlagContainer {
                width: 200px;
                height: 300px;
                position: absolute;
                z-index: 5;

                &#firstPlaceFlagContainer {
                    top: -278px;
                    left: 890px;
                    transform: rotate(7deg);
                }

                &#secondPlaceFlagContainer {
                    top: -201px;
                    left: 327px;
                    transform: rotate(-19deg);
                }

                &#thirdPlaceFlagContainer {
                    top: -87px;
                    left: 1214px;
                    transform: rotate(3deg);
                }

                &__flagPole {
                    width: 20px;
                    height: 300px;
                    float: left;
                    position: absolute;
                    z-index: 7;
                    background: #eeeeee; /* Old browsers */
                    background: -moz-linear-gradient(left, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
                }
                &__flagPoleTop {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: -20px;
                    left: -4px;
                    border-radius: 50%;
                    z-index: 8;
                    background: #fefcea; /* Old browsers */
                    background: -moz-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
                    background: -webkit-radial-gradient(center, ellipse cover, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
                    background: radial-gradient(ellipse at center, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }
                &__flag {
                    z-index: 6;
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
            }

	    	.podiumSvgContainer {
	    		width: 280px;
	    		height: 370px;
	    		position: absolute;
                z-index: 10;

	    		svg {
	    			width: 100%;
	    			height: 100%;
	    		}

	    		&#firstPlaceContainer {
	    			left: 41%;
	    			top: -86%;
	    		}

	    		&#secondPlaceContainer {
	    			left: 22%;
	    			top: -66%;
	    		}

	    		&#thirdPlaceContainer {
	    			left: 60%;
	    			top: -43%;
	    		}
	    	}
	    }

        .endScreenTableContainer {
            .endScreenTable {
                width: 100%;
                color: white;

                thead {
                    tr {
                        th {
                            text-align: left;
                            padding: 10px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            text-align: left;
                            padding: 10px;

                            .flag {
                                margin-top: 0;
                                position: static;
                            }
                        }
                    }
                }
            }
        }
    }
}
