@-webkit-keyframes wave{
	0% {	-webkit-transform:	translate3d(0,5%,0);}
	100% {	-webkit-transform:	translate3d(0,-5%,0);}
}
@keyframes wave{
	0% {	transform:	translate3d(0,5%,0);}
	100% {	transform:	translate3d(0,-5%,0);}
}

.flag {
	width: 200px;
	height: 125px;
	margin: 0 auto;
}
.flag-element {
	width: 2px;
	height: 100%;
	display: inline-block;
	position: relative;
	background-size: 200px 100%;
	-webkit-animation:	wave 0.6s ease-in-out infinite alternate;
	animation:			wave 0.6s ease-in-out infinite alternate;
}

.victoryScreen {
	background: #000000b5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/maps/globe_bg.jpg);
    background-size: cover;
    text-align: center;

    &__background {
    	.world {
    		.world-globe {
		        margin-top: 200px;

    		    .world-globe-pole {
    		        position: absolute;
    		        width: 530px;
    		        height: 530px;
    		        left: -265px;
    		        top: -265px;
    		        border-radius: 50% 50%;
    		        background-color: #fff;
    		    }

    		    .world-globe-doms-container {
    		        position: absolute;
    		        left: 50%;
    		        top: 50%;
    		        width: 0;
    		        height: 0;
    		    }

    		    .world-globe-halo {
    		        position: absolute;
    		        left: 50%;
    		        top: 50%;
    		        width: 730px;
    		        height: 715px;
    		        margin-left: -368px;
    		        margin-top: -350px;
    		    }
    		}
    	}
    }

    .backButton {
        position: relative;
        left: -610px;
        top: 420px;
        z-index: 25;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        font-size: 20px;
        border-width: 5px;
    }

    .screenshotButton {
        position: relative;
        left: -660px;
        top: 530px;
        z-index: 26;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        font-size: 40px;
        border-width: 5px;
    }

    .podium {
        top: 350px;
        position: relative;
        z-index: 11;
        width: 1600px;
        margin-left: 5%;
        text-align: center;
        margin: 0 auto;
        margin-top: -260px;

        #endScreenPodiumImage {
            position: relative;
            z-index: 6;
            width: 894px;
            margin: 0 auto;
        }

        .podiumFlagContainer {
            width: 200px;
            height: 300px;
            position: absolute;
            z-index: 5;

            &#firstPlaceFlagContainer {
                top: -257px;
                left: 928px;
            }

            &#secondPlaceFlagContainer {
                top: -208px;
                left: 597px;
            }

            &#thirdPlaceFlagContainer {
                top: -87px;
                left: 1220px;
            }

            &__flagPole {
                width: 20px;
                height: 300px;
                float: left;
                position: absolute;
                z-index: 7;
                background: #eeeeee; /* Old browsers */
                background: -moz-linear-gradient(left, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
            }
            &__flagPoleTop {
                width: 25px;
                height: 25px;
                position: absolute;
                top: -20px;
                left: -4px;
                border-radius: 50%;
                z-index: 8;
                background: #fefcea; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
            &__flag {
                z-index: 6;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }

        .podiumSvgContainer {
            width: 280px;
            height: 370px;
            position: absolute;
            z-index: 10;

            svg {
                width: 100%;
                height: 100%;
            }

            &#firstPlaceContainer {
                left: 42%;
                top: -80%;
            }

            &#secondPlaceContainer {
                left: 22%;
                top: -61%;
            }

            &#thirdPlaceContainer {
                left: 60%;
                top: -39%;
            }
        }
    }

    .parchmentTop {
        position: relative;
        margin: 0 auto;
        width: 1600px;
        left: -35px;
        top: 47px;
        svg {
            width: 1768px;
            position: relative;
        }
    }

    &__container {
	    background: #cf9b49;
        position: relative;
        top: 340px;
        z-index: 10;
        width: 1600px;
        margin-left: 5%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 100px;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 1% 98%, 2% 100%, 3% 99%, 5% 100%, 6% 95%, 6% 100%, 8% 100%, 9% 97%, 9% 100%, 11% 100%, 12% 99%, 13% 100%, 14% 99%, 15% 100%, 16% 95%, 17% 100%, 18% 99%, 19% 100%, 20% 99%, 21% 100%, 22% 95%, 23% 100%, 25% 99%, 26% 100%, 28% 99%, 31% 100%, 34% 100%, 34% 95%, 35% 100%, 37% 100%, 39% 97%, 39% 100%, 41% 100%, 43% 100%, 45% 100%, 48% 99%, 49% 100%, 49% 96%, 50% 100%, 53% 100%, 54% 98%, 54% 100%, 58% 99%, 59% 100%, 60% 96%, 61% 100%, 63% 98%, 64% 100%, 67% 99%, 69% 100%, 72% 98%, 73% 100%, 74% 95%, 75% 100%, 78% 98%, 79% 100%, 82% 97%, 82% 100%, 84% 97%, 86% 100%, 88% 97%, 88% 100%, 91% 99%, 96% 100%, 97% 96%, 98% 100%, 100% 96%, 100% 100%, 100% 92%, 99% 88%, 100% 88%, 99% 81%, 100% 79%, 100% 66%, 98% 63%, 100% 63%, 100% 53%, 99% 43%, 100% 38%, 100% 27%, 99% 19%, 100% 14%, 100% 5%, 100% 2%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 1% 98%, 2% 100%, 3% 99%, 5% 100%, 6% 95%, 6% 100%, 8% 100%, 9% 97%, 9% 100%, 11% 100%, 12% 99%, 13% 100%, 14% 99%, 15% 100%, 16% 95%, 17% 100%, 18% 99%, 19% 100%, 20% 99%, 21% 100%, 22% 95%, 23% 100%, 25% 99%, 26% 100%, 28% 99%, 31% 100%, 34% 100%, 34% 95%, 35% 100%, 37% 100%, 39% 97%, 39% 100%, 41% 100%, 43% 100%, 45% 100%, 48% 99%, 49% 100%, 49% 96%, 50% 100%, 53% 100%, 54% 98%, 54% 100%, 58% 99%, 59% 100%, 60% 96%, 61% 100%, 63% 98%, 64% 100%, 67% 99%, 69% 100%, 72% 98%, 73% 100%, 74% 95%, 75% 100%, 78% 98%, 79% 100%, 82% 97%, 82% 100%, 84% 97%, 86% 100%, 88% 97%, 88% 100%, 91% 99%, 96% 100%, 97% 96%, 98% 100%, 100% 96%, 100% 100%, 100% 92%, 99% 88%, 100% 88%, 99% 81%, 100% 79%, 100% 66%, 98% 63%, 100% 63%, 100% 53%, 99% 43%, 100% 38%, 100% 27%, 99% 19%, 100% 14%, 100% 5%, 100% 2%, 100% 0%);

        .endScreenTableContainer {
            padding-left: 30px;
            padding-right: 30px;

            .endScreenTable {
                width: 100%;
                color: white;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3686274509803922);
                margin-top: -328px;

                thead {
                    tr {
                        th {
                            text-align: left;
                            padding: 10px;

                            &:nth-child(11), &:nth-child(12) {
                                text-align: center;
                            }
                        }

                        &:first-child {
                            text-align: center;
                        }
                    }
                }
                tbody {
                    background: #6b4407;
                    box-shadow: inset 0 0 15px #382405;
                    tr {
                        td {
                            text-align: left;
                            padding: 10px;

                            &:first-child {
                                text-align: center;
                            }

                            &:nth-child(2) {
                                font-weight: 900;
                            }

                            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                                text-align: center;
                            }

                            .endScreenTableDead {
                                div {
                                    float: left;
                                    &:first-child {
                                        width: 20px;
                                        margin-right: 5px;
                                    }
                                    &:last-child {
                                        padding-left: 5px;
                                    }
                                }
                            }

                            &.ratingDifferencePlus {
                                span.ratingDifferenceText {
                                    color: #3def3d;

                                    &:before {
                                        content: '+';
                                        margin-right: -3px;
                                    }
                                }

                                .glyphicon-arrow-right {
                                    transform: rotate(-45deg);
                                    color: #3def3d;
                                }
                            }

                            &.ratingDifferenceMinus {
                                span.ratingDifferenceText {
                                    color: #ff6969;
                                }

                                .glyphicon-arrow-right {
                                    transform: rotate(45deg);
                                    color: #ff6969;
                                }
                            }

                            .flag {
                                margin-top: 0;
                                position: static;
                            }
                        }
                    }
                }
            }
        }
    }
}
